h1 {
  background-color: rgb(138, 25, 10);
  border-radius: 1em;
}
h2  {
background-color: rgba(138, 25, 10, 0.527);
  color:white;
  text-align: center;
  font-size: large;
  border-radius: 1em;
}

  .box {
    border: 5px solid darkblue;
    width: 50%;
  }
mark {
  color: blueviolet;
  font-weight: bold;
}
em {
  font-style: oblique;
  color:crimson
}
p {
  text-indent: -3em;
  margin-left: 6em;
  margin-right: 2em;
  text-align: justify;
}

nav{
  background-color: darkorchid;
  border-radius: 1em;
}