<h1 class=" fs-2 text-center text-warning " >initiation à la plastique nœudienne<span class="badge bg-secondary mx-3 my-3">définition nœudienne d'un nœud</span></h1>


<div class="row">
  <div class="col-sm-2 " >
    <nav class="nav flex-sm-column nav-justified border1" style="background-color: darkorchid;">
      <app-boutonportance class=" nav-item mt-3 "></app-boutonportance>
      <app-boutonreductibilite class="nav-item mt-3"></app-boutonreductibilite>
      <app-boutonnormalisation class="nav-item mt-3"></app-boutonnormalisation>
      <app-boutontournure class="nav-item mt-3 mb-3"></app-boutontournure>
    </nav>
  </div>
  
  
  <div class="col-sm-8">
    
    <p class="lead">d'abord les nœuds envisagés sont les <strong>nœuds premiers</strong>  de la topologie, c’est-à-dire à nombre minimal de croisements, 
      que la nœudienne renomme <mark>états réduits</mark>. leur définition nœudienne se constitue "en cascade",
      <em>"du haut vers le bas"</em> <small class="muted">, du général au particulier</small>  ou <em>"du bas vers le haut"</em> 
      <small class="muted">, de l'élément au tout</small>.
    
    <h3>"du haut vers le bas"</h3>.

        <dl>
          <dt>définition 1</dt>
            <dd>un <strong>nœud</strong> est constitué de sa <mark>nuée</mark>, "boule" réticulaire,
              finie ou non, de tous ses <a routerLink="/amas">amas</a>.</dd>
          <dt>definition 2</dt>
            <dd>un amas est le réseau multiforme, fini ou non, de tous les <mark>états réduits métamorphosables</mark> les uns en les autres 
              par des <a routerLink="/metamorphose">métamorphoses régulières</a>, manifestées par leurs motifs de métamorphoses conservant le même nombre minimal de croisements.</dd>
          <dt>definition 3</dt>
            <dd>les amas d’une même nuée sont reliés par les états du <mark>magma</mark>, états nœudiens <a routerLink="/reductibilite">réductibles</a>, 
              c'est-à-dire non premiers, épars dans la nuée faisant passerelles entre les amas par <a routerLink="/mutation" >métamorphoses irrégulières</a> d’états réduits, 
              comme bronches ou choux-fleurs, ou encore filets intergalactiques.</dd>
          <dt>>definition 4</dt>
              <dd>un état est un <mark>dessin fermé de nœud fait de ronds qui se croisent entre eux</mark>, 
          éventuellement un seul.</dd>
        </dl>
      
    
      
    <h3>"du bas vers le haut"</h3>
        <p>les états considérés sont donc les nœuds premiers métamorphosables. 
        leur(s) métamorphose(s) régulière(s) engendre(nt) d'autre(s) état(s) qui etc. 
        tout cela forme un réseau clos, c'est-à-dire fini <em>comme les neurones de l'appareil nerveux</em>, l'amas. 
        on passe d'un amas à un autre en utilisant une métamorphose irrégulière présente dans un des états de l'amas, 
        d'abord augmentative et on obtient un état réductible du magma, puis diminutive par une anti-métamorphose irrégulière
        (différente, évidemment, de celle qui redonnerait l'état réduit de départ) qui génère un état réduit, premier donc, 
        d'un autre amas. etc. l'ensemble réticulé des amas ainsi obtenu, après avoir effectué toutes les métamorphoses envisageables, 
        régulières et irrégulières, forme la nuée du nœud considéré.</p> 
        <p><em>remarque</em> : cela est exactement, et spectaculairement, 
        identique à la notion d'<em>histoire</em> d'un système en physique quantique, les <em>chemins d'intégrales</em>, 
        et plus récemment en théorie de la gravité quantique, appelée aussi gravitation en boucles.
        cf. notamment : (#Marc_Lachièze-Rey, au-delà de l'espace et du temps, nouvelle édition le pommier 2008, pp 366 et suite; 
        ainsi que #lee smolin, rien ne va plus en physique!, dunod, 2007).(voir #amas; chemins dans l'amas, histoires)</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-8">    
    <h2 id="defrare">définition d'un nœud rare</h2>
      <p><strong>les nœuds rares</strong> quant à eux, jouissent d'une propriété spéciale qui les singularise parmi tous les nœuds. 
        cette propriété est liée à la capacité qu'a une <mark>lunule</mark>, c'est-à-dire une torsade double, 
        d'entraîner la disparition de croisement(s) supplémentaire(s), donc au moins un en plus, 
        à la suite de sa propre annulation par l'<mark>inversion du Dessus-dessous</mark><abbr>idd</abbr> de l'un de ses croisements.</p> 
      <p>plus précisément :
        une lunule est une torsade à deux croisements alternés, 
        les deux portions de brins formant ces deux croisements se coincent mutuellement, 
        donc la lunule tient; lorsqu'on effectue une inversion de Dessus-dessous (idd) de l'un de ses croisements, 
        la lunule se défait et donc s'annule, les deux croisements disparaissent . 
        dans un état de nœud quelconque il se peut que seuls ces deux croisements disparaissent sans autres conséquences,
        le nouvel état obtenu aura deux croisements de moins que l'état de départ, c'est tout.</p>
        <div class="text-center">
        <img src=assets\SVG\accplast\annulunule.svg class="img-fluid">
        </div>  
      <p>l'état montré en exemple passe de 8 croisements à 6 croisements : 8 – 2 = 6. par contre, 
        si l' idd de l'un des croisements de la lunule entraîne la disparition d' au moins trois croisements de l'état, 
        les deux constituant la lunule plus un autre, ces lunules sont dites <mark>précieuses</mark>.</p>
      <p>montrons-le sur un état du nœud 8<sub>21</sub> qui comporte deux lunules, une "interne" et l'autre "externe". 
        annulons la lunule "interne"; l'état passe de 8 croisements à 5 croisements.</p> 
        <div class="text-center">
        <img src=assets\SVG\accplast\lunulerare.svg class="img-fluid">
        </div>
      <p class='lead'>quand <span class="fw-bold">toutes</span> les lunules d'un état sont précieuses,l'état est rare, 
        quand <span class="fw-bold">tous</span> les états d'un amas sont rares, l'amas est rare. 
        quand <span class="fw-bold">tous</span> les amas de la nuée du nœud sont rares, le nœud est rare.
      <br>c'est de rechercher, reconnaître, construire et étudier les nœuds rares que s'applique la plastique des nœuds rares,
        partie de la plastique nœudienne. (voir plus loin : <a routerLink="/rarete">test de la rareté</a>).</p>

    <hr>
    <h2>dessiner et décrire un état de nœud métamorphosable</h2>
        
        <p>les nœuds auxquels s'intéresse la nœudienne sont parmi les nœuds premiers définis en mathématique <small>voir les tables de nœuds habituelles</small>.
          ils sont spécifiables à partir de leurs graphes de connexités.
        <br> un nœud est fait de "ronds" dont le nombre est noté R. un rond est un brin souple qui se raboute à lui-même (un élastique).
        lorsqu'on dessine un nœud, son nombre R de ronds reste invariant dans la pratique des métamorphoses nœudiennes glissantes et basculantes, régulières et irrégulières (voir plus loin). 
          dans les constructions nœudiennes, notamment pour l'élaboration de la formule des portées (voir #arcs...) et les opérateurs d'homotonie (voir homotonie...), ce nombre peut changer.
          ces ronds se croisent entre eux et le nombre de croisements est noté C. 
          ce sont les lieux où la troisième dimension du dessin apparaît. 
          un brin passe Dessus et l’autre dessous.
          <br>comme en dessin industriel, nous adoptons la convention de dessin suivante : lorsque le brin passe dessous, 
            nous interrompons le trait et faisons donc apparaître (fictivement) le brin (la "ficelle") comme interrompu(e).</p>
    <img src=assets\SVG\accplast\noeuds1.svg class="img-fluid">
  
  </div>
  <div class="col-sm-3">
        
    <div class="card text-center mx-3 ">
    <img src=assets\SVG\glossaire\idd.svg class="card-img-top">
    <p class="card-text">inversion de dessus-dessous</p>
    </div>
    
    <div class="card text-center mt-3 " style="width: 50%">
      <img src=assets\SVG\glossaire\lunule.svg class="card-img-top">
      <p class="card-text">lunule</p>
    </div>
      <div class="card text-center mt-3" style="width: 50%">
        <img src=assets\SVG\glossaire\anulunule.svg class="card-img-top">
        <p class="card-text">annulation d'une lunule</p>
      </div>
  </div>
</div>