<h1 class=" fs-2 text-center">constructions <strong>nœudiennes</strong><span class="badge bg-secondary mx-3 my-3">6 croisements</span></h1>
<div class="row">
  <div class="col-sm-2">
    
    <nav class="nav flex-sm-column nav-justified" style='background-color: rgb(168, 245, 138);'>
      
      <app-table6 class="nav-item mb-3 mt-3"></app-table6>
      <app-table7 class="nav-item mb-3"></app-table7>
      <app-table8 class="nav-item mb-3"></app-table8>
      <app-table9 class="nav-item mb-3"></app-table9>
      <app-table10 class="nav-item mb-3"></app-table10>
      <app-table11 class="nav-item mb-3"></app-table11>
      <app-table12 class="nav-item mb-3"></app-table12>
      <app-table13 class="nav-item mb-3"></app-table13>
      <app-table14 class="nav-item mb-3"></app-table14>
      <app-table15 class="nav-item mb-3"></app-table15>
    </nav>
  </div>
  <div class="col-sm-6">
    <h2 class="bg-warning text-white text-center">premier noeud métamorphosable</h2>
    <figure class="figure text-center">
      <img src= "assets\SVG\c=6\amas6.svg" 
          class="img-figure w-75"
          alt="dessin du premier amas à 3 ronds dit la maja">
    </figure>
    <figcaption class="text-center">amas de la maja</figcaption>
  </div>
  <div class="col-sm-4">
    <p>première métabole racine suivant la définition, le trèfle faisant exeption
      <br> TODO dessin animé
    </p>
  </div>
</div>

