<h1 class = "text-center border1">les tables nœudiennes</h1>

<div class="row">
  <div class="col-sm-2">
    <nav class="nav flex-sm-column nav-justified " >
      <strong class="text-center">les tables nœudiennes</strong>
      <app-table6 class="nav-item mt-3 mb-3"></app-table6>
      <app-table7 class="nav-item mb-3"></app-table7>
      <app-table8 class="nav-item mb-3"></app-table8>
      <app-table9 class="nav-item mb-3"></app-table9>
      <app-table10 class="nav-item mb-3"></app-table10>
      <app-table11 class="nav-item mb-3"></app-table11>
      <app-table12 class="nav-item mb-3"></app-table12>
      <app-table13 class="nav-item mb-3"></app-table13>
      <app-table14 class="nav-item mb-3"></app-table14>
      <app-table15 class="nav-item mb-3"></app-table15>
      
    </nav>
  </div>
  <div class="col-sm-8">
    <figure>
    <img src="assets\SVG\liste1.svg" class="img-fluid">
    <figcaption>série des métaboles de 1 à 6 croisements</figcaption>
  </figure>
      <p>prenez garde, la table nœudienne est une page en progression infinie ! 
        toute contribution est bienvenue pour compléter les différentes tables référencées par leur 
         paramètres nœudiens courbure et nombre de ronds.
        pour cela, si vous êtes volontaires, veuiller laisser un message sur <span class="text-white bg-dark">whyknot@gmail.com</span>
      </p>
     
  </div>
  <div class="col-sm-2">
    <nav class="nav flex-sm-column nav-justified border1" style='background-color: rgb(88, 122, 75);'>
    <app-boutonsurfaces class= 'nav-item mt-3 mb-3'></app-boutonsurfaces>
    <app-boutonhomotonies class= 'nav-item mb-3'></app-boutonhomotonies>
    </nav>
  </div>
</div>

