<h1 class="text-center">table des 12 croisements</h1>
<div class="row">
    <div class="col-sm-1">
    
      <nav class="nav flex-sm-column nav-justified" style='background-color: rgb(168, 245, 138);'>
            
        <app-table6 class="nav-item mt-3 mb-3"></app-table6>
        <app-table7 class="nav-item mb-3"></app-table7>
        <app-table8 class="nav-item mb-3"></app-table8>
        <app-table9 class="nav-item mb-3"></app-table9>
        <app-table10 class="nav-item mb-3"></app-table10>
        <app-table11 class="nav-item mb-3"></app-table11>
        <app-table12 class="nav-item mb-3"></app-table12>
        <app-table13 class="nav-item mb-3"></app-table13>
        <app-table14 class="nav-item mb-3"></app-table14>
        <app-table15 class="nav-item mb-3"></app-table15>
              
        </nav>
    </div>
  <div class="col-sm-8">
    <div class="text-center">
      <img src= 'assets\SVG\graphroot12.svg' class="img-fluid">
    </div>
  </div>
</div>