h1 { background-color: rgb(3, 184, 3);
    border-radius: 1em;
}

h2 {color: rgb(3, 184, 3);
    border-radius: 1em;
}


 nav{
    border-radius: 1em;
 }
 p {
    text-align: justify ;
    text-indent: -3em;
    margin-left: 6em;
    margin-right: 3em;
  }
  mark {
    color: blueviolet;
    font-weight: bold;
  }
  em {
    font-style: oblique;
    color:crimson
  }
  cite {
    font-style: oblique;
    color: purple
  }