
<h1 class=" fs-2 text-center">constructions nœudiennes<span class="badge bg-secondary mx-3 my-3">homotonie</span></h1> 
<div class="row">
    <div class="col-sm-2">
      <nav class="nav flex-sm-column nav-justified" style='background-color: rgb(168, 245, 138);'>
        <strong class="text-center">les tables nœudiennes</strong>
        <app-table6 class="nav-item mt-3 mb-3"></app-table6>
        <app-table7 class="nav-item mb-3"></app-table7>
        <app-table8 class="nav-item mb-3"></app-table8>
        <app-table9 class="nav-item mb-3"></app-table9>
        <app-table10 class="nav-item mb-3"></app-table10>
        <app-table11 class="nav-item mb-3"></app-table11>
        <app-table12 class="nav-item mb-3"></app-table12>
        <app-table13 class="nav-item mb-3"></app-table13>
        <app-table14 class="nav-item mb-3"></app-table14>
        <app-table15 class="nav-item mb-3"></app-table15>
        
      </nav>
    </div>
    <div class="col-sm-8">
        <h2>les locations : colocation, délocation et translocation</h2>
            <p>.(dessins) nous avons vu plus haut des mutations qui consistaient en changements continus d'amas. 
            <br>avec l' homotonie nous introduisons des opérateurs de transformations discontinues, c'est-à-dire que nous allons changer les états en faisant intervenir une "chirurgie" qui maintiendra une certaine ressemblance ("monotonie"), qui conservera ce que l'on a coutume d'appeler un air de famille, mais qui au fur et à mesure des métamorphoses s'en éloignera. 
            <br>c'est cet air de famille que nous appelons homotonie. 
            ces opérateurs sont nommés locations, comme en biologie. 
            ils s'apparentent à ce que les découvertes en biochimie évolutive nous ont fait connaître : des racines communes qui, dans l'évolution, s'éloignent de plus en plus et paraissent étrangères les unes des autres. cependant certaines gardent un air de famille qui ont permis de les rassembler en ensembles de plus en plus "homogènes", et, glissando ont permis de retrouver les éléments com-muns archaïques. 
            <br>c'est, appliqué aux noeuds, ce qu'expérimente l' homotonie noeudienne.</p>
        <h2>amplifications, l'échelle de jacob noeudienne</h2> 
            <p>(dessins) d'autres opérateurs sont les opérateurs d' amplification : ils interviennent pour amplifier certains caractères et les amener aux limites de l'adaptation. 
                jusqu'à présent, les métamorphoses et les mutations rencontrées étaient involutives; elles introduisaient un "temps" réversible, émergent ou nécessaire. 
                l' irréversibilité s'y signalait par son après-coup 
                <small>pour parler comme les psychanalystes</small> : une fois une histoire étalée <small> les chemins d'intégrales</small> ) la "flèche" du temps en devenait l'indicatrice. 
                un amas reflétait donc un espace temporel dont les éléments étaient ces flèches. 
                le "temps" y apparaissait comme élastique, comme éléments de volumes flexibles. 
                avec les opérateurs d'amplifications le "temps" apparaît au contraire comme gelé, comme élément d'une ligne rigide. 
                <br>les noeuds sont donc le support d'une spatialité qu'on peut appeler naïvement non-euclidienne, élément d'un espace unique, "euclidien" si l'on veut, parce que le seul dans lequel le nouage, et sa "dessination" les noeuds, y soit possible; tout autre espace est non noué. de même pour le "temps", qui apparaît selon deux modes : un temps fictif, flexible et réversible, "multidirectionnel" qui permet les "voyages dans le temps", et un temps "rigide", à un seul sens, celui que nous croyons "connaître".
        <h2>mécanismes noeudiens évolutifs, morphogénèse</h2>

            <p>nous appelons transmutations évolutives les divers effets des opérateurs d'homotonie 
            et germes évolutifs les états issus des opérations d'homotonie.
            <br> l'idée est que : une légère variation apportée à un état et respectant sa morphologie et sa structure immédiates entraîne, peut-être lentement au départ, une véritable catastrophe, au sens de <em>#thom</em>, 
            de ces structure et morphologie; c'est à la création d'une véritable plastique morphogénétique à laquelle nous assistons, semblable à celle que nous connaissons maintenant en biologie évolutive et en biochimie. 
            ces opérateurs d'homotonie libèrent des capacités d'évolutions convergentes ou divergentes des noeuds. 
            </p>
            <figure>
                <img src="assets\SVG\homotonies\genèse_4-7.svg" alt="dessin d'une morphogenèse additive">
            </figure>
            <p> cela qui nous a permis d'affirmer que : des particules élémentaires aux formes biologiques en évolutions, une véritable manière de penser leur étant commune avait été découverte; une forme de cette manière étant fournie par la plastique noeudienne.
                (dessins)</p>
                </div>
<div class="col-sm-2">
    <nav class="nav flex-sm-column nav-justified" style='background-color: rgb(88, 122, 75);'>
    <app-boutonsurfaces class= 'nav-item mt-3 mb-3'></app-boutonsurfaces>
    <app-boutonhomotonies class= 'nav-item mb-3'></app-boutonhomotonies>
    </nav>
</div>
