<h1 class ="text-center" >glossaire des nœuds rares</h1>

    
    <div class="row">
        <div class="col-sm-2 border1">international glossaries    
    
            <nav class="nav flex-sm-column nav-justified " style="background-color: rgb(163, 146, 172);">
      
            <app-buttonarabe class= "nav-item mt-3"></app-buttonarabe>
            <app-buttonespagnol class= "nav-item mt-3"></app-buttonespagnol>  
            <app-buttonitalien class= "nav-item mt-3"></app-buttonitalien> 
            <app-buttonenglish class= "nav-item mt-3"></app-buttonenglish>
            <app-buttonrusse class= "nav-item mt-3 mb-3"></app-buttonrusse>
            </nav>  
        </div>
        
        <div class="col-sm-10">
               
    <h2>a</h2>
            <div class="card" style="width: 18rem;">
                <img src="assets\SVG\glossaire\accident de parcours.svg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">accident de parcours : boursouflure</p>
                </div>
            </div>
   
      <li> adjacence : qui se touchent. deux quadrants qui ont une portion de brin commune sont adjacents et appartiennent à deux zones qui seront dites adjacentes..
    <li>agrafe : maille à quatre croisements, constituée d'une lunule et d'une épingle (dessin à ajouter dans ioe-motifs élémentaires)</li> 
    <li>agrafe retournable : motif de métamorphose régulière constitué d'une agrafe et d'une épingle retournante</li> 
    <li>alternance : succession des dessus et des dessous</li>
    <li>amas : réseau multiforme fini de tous les états réduits métamorphosables les uns en les autres par métamorphoses régulières</li>
    <li>amas symétrique : </li>
    <li> annulable : caractéristique d'une lunule non alternée ou qui ne participe pas au nouage</li>
    <li> anti-arc :</li>
    <li>antimétamorphose : opération qui produit un état réduit d'un autre amas</li> 
    <li>arc : portion de brin comprise entre deux dessous.</li>
    <li>arête d'un graphe : trait qui relie deux sommets d'un graphe </li> 
    <li>autocroisement : formation de deux brins d'un même rond qui se croisent</li>
    <li>autodual : état qui n'a qu'un seul graphe de connexité</li> 
    <li>autométamorphosable : quand un des motifs de métamorphose de l'état redonne le même état</li>
   
<h2>b</h2>
    <li>bâti : pour un état nœudien donné, correspondant invariant de chaque motif de métamotphose</li>
    <li>boucle : nodule précieux, la boucle se compose de deux torsades : l'une simple, l'autre double</li>
    <li>bouclette : brin qui se croise sur lui-même</li>
    <li>brin, portion de brin : trait. chaque croisement est constitué de deux brins. dans nos dessins, le brin qui passe dessus est un trait continu, tandis que celui qui passe dessous est brièvement interrompu au lieu de croisement.</li>
    <li>brin retournant : épingle non alternée qui participe à un motif de métamorphose</li>
    <li>broche : maille composée d'une boucle et d'une torsade simple</li>
    
<h2>c</h2>
    <li>centration : répartition des parures sur un état</li>
    <li>centre, voir aussi nœud centre :</li>
    <li>codage :</li> 
    <li>code d'un état</li>
    <li>coin : maille à trois croisements qui définit une zone de valence 3</li>
    <li>coin alterné : maille à trois croisements où les ornures sont identiques </li>
    <li>coin métamorphosable : maille à trois croisements, où une ornure est différente des deux autres</li>
    <li>coin non alterné : maille à trois croisements, où une ornure est différente des deux autres</li>
    <li>coin retournable : maille à trois croisements, où une ornure est différente des deux autres</li>
    <li>collier :</li>
    <li>colocation :</li>
    <li>condensation :</li>
    <li>connexité :</li>
    <li>croisement : un croisement est constitué de deux brins, l'un passant sur l'autre. il est noté c
 <h2>d</h2>   
    <li>délocation :</li>
    <li>dérivation : métamorphose entre deux états réduits qui met en œuvre deux retournements irréguliers</li>
    <li>dessous :</li>
    dessus :
    <li>disque de centration : parure sur un état uniorienté</li>
    <li>double retournement :</li>
    <li>dual :</li>
<h2>e</h2> 
    <li>écart de tournure :</li>
    <li>enlacement : l'unique nœud à 2 ronds et 2 croisements</li>
    <li>envers du retournement :</li>
    <li>épingle : motif formé par une portion de brin commune à deux croisements consécutifs</li>
    <li>épingle alternée :</li>
    <li>épingle non alternée :</li>
    <li>épingle retournante : portion de brin à deux croisements non alternés qui glisse lors d'une métamorphose</li>
    <li>équation d'état : </li>
    <li>état d'un amas : </li>
    <li>état d'un nœud :</li>
    <li>état nœudien :</li>
    <li>état quasi alterné :</li>
    <li>état rare : état dont toutes les lunules sont précieuses</li>
    <li>état réduit : état d'un nœud dont tous les croisements superflus ont été éliminés </li>
    <li>état resserré :</li>
    <li>état très-resserré :</li>

<h2>f</h2>   
    <li>formule particulaire : formule de superposition des motifs de métamorphoses recelés par l'état</li>
    <li>formule des portées : formule qui permet de repérer certains états réductibles : ceux qui ont un arc trop long par rapport au nombre de croisements et au nombre de ronds.</li>
    
<h2>g</h2>
    <li>ganse : torsade triple</li>
    <li> graphe : ensemble de points appelés sommets, reliés entre eux par des liens appelés arêtes</li>
    <div class="card" style="width: 18rem;">
        <img src="assets\SVG\glossaire\graphe d'adjacence.svg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">graphe d'adjacence</p>
        </div>
      </div>
    <li>graphe de connexité :</li>
    <li>graphe d'état :</li>
    <li>graphe dual :</li>
    <li>graphe métamorphosable :</li>
    <li>graphe nœudien : </li>
    <li>graphe orné :</li>
    <li>graphe paré :</li>
<h2>h</h2>   
    <li>homotonie : </li>
    <li>homotonique :</li>
<h2>i</h2>    
    <li>icsografie :</li>
    <li>idd, pour inversion de Dessus-dessous :</li>
    <li>intercroisement :</li>
    <li>inversion de Dessus-dessous, voir aussi idd :</li>
    <li>involution : métamorphose ou série de métamorphose qui redonne le même état </li>
<h2>j</h2>
    <li>juxtaposition, voir métamorphoses juxtaposées :</li>

<h2>l</h2>   
    <li>lecture de l'orientation : manière de produire les arêtes de parure</li>
    <li>— lunulaire : mise en évidence des relations lunulaires pour déterminer la tournure des croisements de l'état d'un nœud </li>
    <li>lunulaire :</li>
    <li>lunule : motif mono-orné,torsade double</li>
    <li>— annulable :</li>
    <li>location : opérateur de transformation discontinue</li>
<h2>m</h2>   
    <li>magma : états nœudiens irréguliers, c'est-à-dire non premiers ou encore réductibles, épars dans la nuée qui font passerelles entre les amas</li>
    <li>métabole : ensemble constitué d'une ombre, du nœud trivial correspondant et de tous les états réduits ayant cette ombre</li>
    <li>métabolite : état réduit, élément d'un métabole</li>
    <li>métamorphose d'état : glissement d'une portion de rond qui permet le passage entre les présentations de deux états d'un même nœud</li>
    <li>métamorphoses juxtaposées, voir superposition :</li>
    <li>métamorphose manquée :</li>
    <li>mot code ou mot-code :</li>
    <li>monstration : acte d’exposer, de montrer à la vue du public</li>
    <li>motif de métamorphose :</li>
    <li>multi-torsade :</li>
    <li>multi-torsade permutante :</li>
    <li>mutation : métamorphose qui lie deux états de deux amas</li>
<h2>n</h2>   
    <li>nodule précieux : maille qui devient un motif réductible si une quelconque de ses lunules est annulée</li>
    <li>nœud :</li>
    <li>nœud centre ou nœud-centre  : nœud faits d'une unique torsade, paire et à deux ronds si C = 2n et impaire à un seul rond si C = 2n + 1 </li>
    <li>nœudien, -ne :</li>
    <li>nœud métamorphosable :</li>
    <li>nœud premier :</li>
    <li>nœud réduit :</li>  
    <li>nœud rare :</li>  
    <li>nœud trivial : un</li>
    <li>non-alternance :</li>
    <li>normalisation : suite opératoire qui consiste à vérifier la formule des portées</li>
    <li>nouage : relations entre rond(s) et croisements, concept clé du savoir</li>
    <li>nuée : réseau fini d'amas reliés par les états du magma</li>
    <li>nuée d'un nœud :</li>
    <li>nuée nœudienne :</li>  
<h2>o</h2>   
    <li>ombre : classe d'équivalence de tous les états ayant même morphologie apparente</li>
    <li>ombre parée :</li>
    <li>orientation, lecture de l' :</li>
    <li>ornement : répartition des ornures</li>
    <li>ornure : code de marquage de l'alternance des croisements consécutifs d'un état, noté avec les lettres w et w'</li>
<h2>p</h2>  
    <li>parement : traçage des parures d'un état</li>
    <li>parure : paramètre de l'ombre d'un état nœudien</li>
    <li>parure faufilante : parure qui "coupe" les arêtes et traverse les zones du graphe</li>
    <li>parure sinuante : parure qui suit les arêtes</li>
    <li>plastique nœudienne :</li>
    <li>permutante : se dit d'une torsade simple qui participe à une permutation</li>
    <li> permutation :</li>
    <li>permutation manquée :</li>
    <li>permutation simple :</li>
    <li>permutations multiples :</li>
    <li> pnr : abréviation pour le livre "plastique des nœuds rares"</li>
    <li> poinçon : sous-graphe du graphe d'adjacence</li>
    <li>portance : "mot" circulaire décrivant l'ordre des portées des arcs constituant un état</li>
    <li>portée : notée '''p''', nombre de brins traversés par un arc</li>     
    <li> préciosité :</li>
<h2>q</h2>
    
    <li>quadrant : partie d'une zone, dessinée par un croisement. un croisement dessine en tout quatre quadrants, deux sont connexes et deux adjaçants. </li>
    <li>quart de tour :</li>
    <li>quasi alternance :</li>
<h2>r</h2>
    <li>racine, d'un métabole :</li>
    <li>rareté :</li>
    <li>réalternance :</li>
    <li>réalterner :</li>
    <li>réductibilité :</li>
    <li>réductible : nœud comportant des croisements qui peuvent disparaître</li>
    <li>réduction :</li>
    <li>réelle, voir transition d'état :</li>
    <li>relation lunulaire :</li>
    <li>renversement : métamorphose qui s'effectue comme le retournement</li>
    <li>— par l'épingle :</li>
    <li>renverser :</li>
    <li>retournement :</li>
    <li> — des agrafes :</li>
    <li>— du coin :</li>
    <li>— par l'épingle :</li>
    <li>retournement manqué : cas où le retournement ne fait pas métamorphose d'état, du fait de grandes symétries dans les mailles impliquées.</li>
    <li>retournement par le z :</li>
    <li>retourner :</li>
    <li>revirement :</li>
    <li>rond : élément invariant d'un nœud, noté '''R'''.</li>
<h2>s</h2>
    <li>seifertise, d'une tresse:</li>
    <li>sommet d'un graphe :</li>
    <li>superposition :</li>
    <li>surface seifertisée :</li>
    <li>surface supplémentaire :</li>
<h2>t</h2>   
    <li>table d'état :</li>
    <li>torsade :</li>
    <li>torsade multiple :</li>
    <li>torsade nulle :</li>
    <li>torsade simple :</li>
    <li>tour :</li>
    <li>tour qui loupe :</li>
    <li>tour qui noue :</li>
    <li>tournure: notée T, c'est le couple des nombres de croisements t et t' pour un état de nœud</li>
    <li>tournure dérivée :</li>
    <li>tournure ornée :</li>
    <li>tournure parée :</li>
    <li>tournure revirée :</li>
    <li>transition d'état :</li>
    <li>transition d'état réelle :</li>
    <li>transition d'état virtuelle :</li>
    <li>translocation :</li>
    <li>transversions :</li>
    <li>présentation en tresse : mode de présentation d'un état</li>
    <li>trivial : nœud totalement alterné</li>

<h2>v</h2>
    
    <li>valence : nombre d'arêtes reliées à un sommet</li>
    <li>vire-volte : motif, parfois métamorphose régulière, parfois mutation.</li>
    <li>virtuel, voir transition d'état :</li>
    <li>volte-face : motif de métamorphose régulière, de même type que la permutation, qui proçède par basculement d'un poinçon entre deux tresses symétriques.</li>
    <li>volution :</li>
    
<h2>z</h2> 
    <li>zone d'un état : parcellisation du plan rendue par le dessin d'un état de nœud. polygone souple dont les côtés sont des portions de rond et les angles des quadrants de croisement.</li>
    
</div>
   
<li>on recherche des interprêtes nœudiens</li>
<li> نحن نبحث عن مترجمين فوريين
    </li>
<li>nap chache entèprèt kreyòl</li>
<li>procuramos intérpretes portugueses</li>
<li>buscamos intérpretes de español</li>
<li>ψάχνουμε για Έλληνες διερμηνείς</li>
<li>ne po kërkojmë përkthyes shqiptarë</li>
<li>türkçe tercüman arıyoruz</li>
<li>אנו מחפשים מתורגמנים עבריים</li>
<li>cerchiamo interpreti italiani</li>
<li>tražimo hrvatske prevoditelje</li>
<li>circhemu interpreti corsi</li>
<li>ищем русских переводчиков</li>
<li>cautam interpreti romani</li>
<li>我们正在寻找免费的中文翻译</li>


