h1 { background-color: rgb(3, 184, 3);
    border-radius: 1em;
}

h2 {color: rgb(3, 184, 3)}

.border1 {
    border-radius: 1em;
 }
 nav{
    border-radius: 1em;
 }
 p {
    text-indent: -2em;
    margin-left: 2em;
    margin-right: 2em;
  }
  mark {
    color: blueviolet;
    font-weight: bold;
  }
  em {
    font-style: oblique;
    color:crimson
  }
  cite {
    font-style: oblique;
    color: purple
  }