<h1 class=" fs-2 text-center text-warning" ><img src="assets\ICON\book.svg" style="width: 2rem;">initiation à la plastique nœudienne<span class="badge bg-secondary mx-3 my-3">normalisation</span></h1>
  <div class="row">
    <div class="col-sm-2">
      <nav class="nav flex-column nav-justified" style='background-color: blueviolet;'>
        <app-boutonportance class= 'nav-item  mb-3 mt-3'></app-boutonportance>
        <app-boutonnormalisation class="nav-item mb-3 "></app-boutonnormalisation>
        <app-boutonreductibilite class="nav-item mb-3"></app-boutonreductibilite>
        <app-boutontournure class="nav-item mb-3"></app-boutontournure>
      </nav>
    </div> 
    <div class="col-sm-8">
      <h2>la dimension cachée</h2>
      <img src=assets\SVG\normalisation\Rductionbis.svg class="img-fluid">
        <p>le nœud non premier trivial obtenu est somme dite "topologique" par les topologues 
          <small>— mais nous verrons dans notre section #assemblage la vraie complexité des montages de nœuds 
          qui intègre et dépasse l'oisive opération mathématicienne, et nous reprendrons et montrerons les montages, entre autres, 
          des deux premiers nœuds premiers statiques : le trèfle à 3 croisements et le listing à 4 croisements </small>—, 
          et nous appelons <mark>normalisation</mark> cette suite opératoire. </p>
        <p>la <a href="reductibilite#formule">formule</a>  qui était apparemment faussée : 
      <ng-katex equation="7 ≥ 5\times2 − 1 − 1"></ng-katex>  devient après <mark>normalisation</mark> :
      <ng-katex equation='7 ≥ 5\times1 − 1 − 1' ></ng-katex> 
        (voir plus bas : #voir et dessiner un nœud premier). 
        chaque nœud participant à cette somme peut glisser le long du brin de l'autre sans qu'aucune des deux structures ne change.
        nous disons qu'ils sont indifférents l'un à l'autre. 
        chacun des deux nœuds apparaît comme une boursouflure compliquée du brin de l'autre. 
        nous pouvons donc l'annuler, c'est-à-dire faire comme s'il était observé de si loin qu'on ne le voit plus. 
        agissant ainsi pour les deux nœuds du montage, la construction globale ressemble à un simple cercle. 
        les deux nœuds sont saisis comme <mark>dimension cachée nœudienne</mark>.</p> 
        <p>de plus, il est évident que cette assertion se généralise : 
        toute somme de <b>n</b> nœuds jusqu'à l'infini se réduit à un cercle; il en est de même pour toute droite, assimilée à un cercle. 
        et même chaque portion de brin d'un quelconque nœud est ainsi support de la dimension cachée. 
        maintenant essayons de visualiser la chose; à partir de l'exemple ci-dessus, nous pouvons montrer deux extensions :
    <img src=assets\SVG\normalisation\grossis.ai.svg style="float: right; padding: 1rem;"> </p>
        
        <p>tout nœud, avons-nous dit est siège de la dimension cachée , c'est-à-dire que chaque nœud peut aussi se concevoir comme une enfilade <small>comme un collier</small> d'une très grande quantité <small class="text-muted">jusqu'à l'infini</small> de nœuds.
        mais cela est aussi vrai des nœuds qui participent à cette enfilade, et ainsi de suite à l'infini. 
        nous pouvons ainsi concevoir qu'un cercle est formé par la condensation d'une infinité de cercles "boursouflés" qui eux-mêmes etc. dont nous ne "voyons" qu'un.
        un nœud couvre donc une superficie/volume infinie réduite à la longueur/surface/volume qui nous est usuelle. 
        <br>cela dit assez la densité du cercle nœudien et semble correspondre ainsi à la fois à la dimension cachée des physiciens mais aussi,
        pourquoi pas!, à celle des <em>nombres surréels de conway, kuhn et gonshor</em> 
        <small class="text-muted">nombreuses références sur le net</small>, aussi le livre de <em>alain badiou</em> <cite>Le Nombre et les nombres</cite>, 280pages, seuil mai 1990, collection "des travaux"; 
        notez cette jolie assertion :
        <q>[...]tout ce qui trace, en situation, le parcours d'une vérité, se signale par son indifférence à la numéricité"</q> <small>c'est moi qui souligne toute cette phrase</small>, page 264. 
        à comparer à ce questionnement de <em>roger penrose</em> dans <cite>à la découverte des lois de l'univers</cite>, odile jacob sciences avril 2007, 1061 pages, chap. 34 "où se trouve la voie de la réalité?", 
        parag. 34.8 "notre long cheminement mathématique vers la réalité" : <q>[...]peut-être découvrirons-nous [...] une théorie ultime qui nous permettra de comprendre ce que nous appelons la "réalité".
        dans ce cas, cette théorie devra être d'une nature tout à fait différente de celles des théories physiques <small>c'est moi qui souligne</small> que nous avions jusqu'à présent</q>", page 994).
        
      <p>point n'est besoin que ces valeurs soient inatteignables ou irreprésentables, quiconque a du goût pour le dessin et un peu de patience peut s'en dessiner une portion! 
        poussons encore un peu le raisonnement : puisque la longueur de planck est la plus petite longueur concevable, il est naturel de l'assimiler à la plus grande longueur possible des plus petits nœuds pensables. 
        ces plus petits nœuds formant la trame de tout ce qui existe. </p>
        <div class= "text-center" >
          <img src=assets\SVG\normalisation\grossissement.svg width="500" >
        </div>
        <p>jouons un peu sur les mots. 
        le mot "nœud" en grec connaît plusieurs occurrences : d'abord <em>άμμα</em> 
        <small class="text-muted"> amma : nœud d'un lien, d'une corde, etc.</small> d'où dans notre texte "amas"; mais aussi <em>γόνυ</em>
        <small class="text-muted"> gonou : renflement, d'une tige, sur un arbre, etc.</small>d'où dans notre texte "boursouflure". 
        et enfin, last not least, <em>συνάψιες</em> <small class='text-muted'>sounapsiès : "synapse"</small>. comme disait déjà l'indépassable génie <em>héraclite</em> :
        <figure>
        <blockquote class="blockquote">
          <p>συνάψιες όλα καί ούχ όλα, συμφερόμενον, συναδον διαδον έκ πάντων εν καί έξ ένόςπάντα = sounapsiès ola kai oukh ola, soumphéromenon, sounadon diadon ek panion en kai ex enospanta = 
            <b>nœuds touts et non-touts, rassemblé séparé, consonant dissonant, de toutes choses l'un et de l'un toutes choses</b></p>
        </blockquote>
        <figcaption class='blockquote-footer'>d'après <em>marcel conche</em>, puf</figcaption>
        </figure>
      </p>
    <h2>trois dimensions</h2>
        <p>mais voyons d'autres conséquences assimilant, depuis <em>desargues</em>, tout cercle à une droite avec un point à l'infini. 
        en topologie nœudienne nos points sont donc tous les nœuds, qu'ils soient alternés ou non alternés, qu'ils soient premiers ou non, c'est-à-dire réduits ou non. 
        <br>les dimensions de l'espace sont donc pour la nœudienne la dimension du vide, <b>0</b>, et la dimension de son bord, <b>1</b>. 
        mais la dimension du vide n'apparaît que dialectiquement avec celle de son bord; <i>le vide ne se connaît pas lui-même</i>, pas plus que l' <i>accident existentiel</i> qu'est le bord. 
        le bord lui-même est constitué de nos <i>points</i>, l'infinité des nœuds, pour lesquels la <i>deuxième dimension</i> est constituée par les Dessus-dessous, 
        de sorte que les points de la trame de l'espace sont de deux dimensions : 
        <br>- la dimension <b>1</b> du <i>fil</i> et <b>2</b> du nœud, espace manifesté par des nœuds réduits triviaux <i>statiques</i>, réduits non alternés métamorphosables, et réductibles avec leurs potentialités de réduction, de métamorphoses, etc.. 
        <br>- la dimension <b>2</b> du nœud est ainsi <i>homogène</i> à celle du <i>fil</i> qui le constitue organiquement, contrairement à la géométrie et la topologie, 
        <small class="text-muted"> avant l'apparition des <i>géométries non commutatives</i> découvertes récemment par <em>alain connes</em>, 
          pour lesquelles un point est de dimension 0 et la droite de dimension 1 constituée d'une infinité de ces 0(??!), 
          avec comme conséquences certaines impasses en physique théorique actuelle, 
          notamment dans les nécessités de reformulation des éléments du tissu spatio-temporel entraînées par l'unification de la relativité et de la physique quantique.</small> </p>
      <p> nous avons donc bien ici les trois dimensions spatiales fondamentales : <b>0</b> du vide, <i>hétérogène</i> aux deux autres mais solidaire dialectiquement parlant, 
        <b>1</b> de son bord et <b>2</b> des nœuds comme torsions primaires et superpositions perpétuellement mouvantes de la précédente, requises pour notre univers événementiel éternellement changeant, 
        un <i>temps</i> n'émergeant que comme <i>délai</i> d'effectuation d'une métamorphose. 
        le <i>temps</i> que nous considérons habituellement, et que songe à remettre en cause la physique de pointe actuelle, n'est qu'un <b>identifiant</b> universel de tous ces <i>temps phénoménaux</i>, comme l'est l'argent de toute marchandise 
        <span class='text-muted'>d'ailleurs le temps et l'argent étant si totalement concourants qu'à l'époque, aujourd'hui, où l'argent disparaît dans l'électronique financière, le temps lui-aussi semble s'effacer!</span> 
        mais l'anthropologie, la sociologie, l'économie politique, l'histoire, la psychanalyse, l'art, la biologie et ses modalités moléculaires, biochimiques, ont déjà entamé le programme!</p>
 </div>
 <div class="col-sm-2"></div>
