h5 {
    
    color:rgb(6, 68, 44, 0.4);
}
img {
    background-color: rgb(225, 248, 210);
}
.carousel-control-prev-icon , .carousel-control-next-icon {
    height: 60px;
    width: 60px;
    outline: black;
    
    background-color: rgba(0, 0, 0, 0.2);
    background-size: 100%, 100%;
    border-radius: 50%;
    
}
