<h1 class=" fs-2 text-center border1 ">whyknot<span class="badge bg-secondary mx-3 my-3">invitation à la plastique nœudienne</span></h1>
<div class="row align-items-start">
    <div class="col-sm-2 ">
        <nav class="nav flex-column nav-justified border1" style='background-color: rgb(88, 5, 70);'>
            <app-boutonknotpast class= 'nav-item mt-3 mb-3'></app-boutonknotpast>
            <app-boutonknotfutur class= 'nav-item  mb-3'></app-boutonknotfutur>
            <app-boutoninvitation class= 'nav-item  mb-3'></app-boutoninvitation>
            <app-boutonknotnow class= 'nav-item  mb-3'></app-boutonknotnow>
        </nav>
    </div>
    
    <div class="col-sm-7">
        <p class="lead">les mathématicien.ne.s ont fait des nœuds en tant qu'illustrations éventuelles et chiches de leur algébrisme. 
        cela entraîne plusieurs conséquences :</p>
            <ol type="a">
                <li>elles et ils ne s'intéressent pas au nouage, qui est le concept clé du savoir, et dont les dessins de nœuds métamorphosables sont la forme la plus appropriée, sorte de matérialité du nouage qui n'est que relations, comme l'énergie.
                "ça tient ou ça tient pas" se demandent sans cesse toute chercheuse et tout chercheur. 
                le passage de l'enfance à la maturité s'effectue sous ses auspices.</li>
                <li> elles et ils ont raté l'étude approfondie de l'isotopie 
                (terme, ici, au demeurant fort discutable puisqu'en chimie ce terme regroupe des éléments MATÉRIELLEMENT DIFFÉRENTS quoiqu'aux propriétés semblables, alors que deux états de nœud isotopiques sont le ' MÊME!), 
                qui est semblablement la source de la chimie et de la biologie, voire de l'évolution qui n'est que combinaisons de métamorphoses et de mutations. 
                et la simplicité quantique des éléments chimiques ne montre-t'elle pas qu'ils sont tous des mutations les uns des autres; 
                le vieux rêve des alchimistes de transformer le plomb en or (et réciproquement!) a ainsi été rendu possible par la science moderne.</li> 
                <li>leur terreur du dessin, à cause de la géométrie et de ses "fausses évidences", et d'une certaine "aristocratie" sociologique (pour parler comme #lee smolin)
                de l'écriture mathématique, leur a fait censurer la caractéristique synchronique du regard au profit de la diachronie de la lettre (faut-il renvoyer à #lacan, sous ce jour?). 
                une dimension du savoir a ainsi été perdue avec ses effets catastrophiques dans l'enseignement des sciences, auxquelles l'imagination "plébéienne" n'a plus accès.</li>
                <li>toute la mathématique de la théorie des nœuds est basée sur une convention délirante : 
                <br>(1) les croisements sont répartis (axiomatiquement, mais cela n'est jamais énoncé ès qualité) en deux familles "+" et "–", rotation d'un quart de tour l'un de l'autre, 
                par refoulement de la plus élémentaire géométrie qui veut qu'un croisement est toujours lui-même à une rotation près!!! 
                <br>(2) dans ce discours qui commence mal, un rond non noué est dénommé nœud trivial, comme si le mot "trivial" sauvait la syntaxe du crû. 
                (voir ci-dessus #amas, définition nœudienne de la trivialité).</li>
                <li>depuis plus de 100ans, les mathématicien.ne.s n'ont pas réalisé leur programme, à savoir la "classification" des nœuds! 
                d'ailleurs leur reconnaissance de l'identité de deux nœuds, leur "isotopie" (comme ils disent), s'effectue grâce à un peu d'intuition et des manoeuvres artisanales (inavouées et camouflées) 
                que justement nous ne renions pas! à quoi nous ajoutons une systématique clarificatrice. 
                il n'y a pas plus de classification possible des nœuds qu'il n'y a de classification en "science" des champignons pour lesquels le mot "science" justement ne signifie que cette longue et traditionnelle mémoration d'une observation pratique, 
                et ce, quelle que soit la puissance industrielle de la science biochimiopharmaceutique actuelle! il est donc temps de changer le paradigme officiel de la recherche en un nouveau regard et une nouvelle pratique accessibles à qui veut exercer sa curiosité ludique et scientifique. 
                comme cela existe déjà notamment chez les astronomes amateurs qui connaissent de belles découvertes et les naturalistes, en végétaux, champignons et animaux, géologues amateurs avec leur minéraux, les orpailleurs, etc...
                finalement un retour moderne et éclairé aux sciences naturelles! faire de la science un art et de l'art une pratique commune. 
                c'est le but de la plastique nœudienne.</li> 
                </ol>
                <p><b>voici un plan possible des domaines explorés par la plastique nœudienne</b>. trois grandes pratiques se différencient entre elles tout en entretenant des liens étroits permanents et des interactions fortes;
                aucune n'existe vraiment sans les deux autres : les dessins des nœuds en tant qu'ils matérialisent les nouages, 
                l'alliance du geste et du regard, de l'effectif et du cohérent, les nœuds textuels, nœuds de parole qui ouvrent la possibilité d'une prospection du langage en toute dimension notamment celle de la lucidité, 
                et nœuds d'arts qui produisent l'allégresse sans laquelle aucune création n'est possible.</p> 
                <p class='lead'>science qui se pratique comme un art, art qui se construit comme un savoir, la plastique nœudienne ne nécessite qu'un capital à la portée de quiconque l'aborde avec une curiosité sans inhibition que tout enfant libre projette en toute chose pour sa plus grande satisfaction.</p>
        <h2 class="text-center">nœuds dessinés</h2> 
            <h3 class="text-center">A – plastique nœudienne proprement dite</h3>
                <p>le livre plastique des nœuds rares constitue l'initiation systématique à cette nouvelle artscience. 
                les nœuds, ici objets, méthode et instruments d'investigation sans a priori, pour eux-mêmes, sont ceux que l'on dit premiers, réduits à leurs plus petits nombres de croisements. 
                leurs métamorphoses sont dessinées et étudiées, formant amas, magmas et nuées. 
                elles sont continues, glissantes et basculantes, régulières et irrégulières, réelles ou virtuelles. 
                ce sont les retournements, les permutations et d'autres, les transversions et d'autres transitions encore. 
                la plastique des nœuds rares en forme la restreinte comme est dite générale celle des nuées nœudiennes.</p>
            <h3 class="text-center">B – constructions nœudiennes</h3>
                <p> elles n'utilisent la chirurgie qu'afin de mettre en évidence l'homotonie nœudienne qui déploie sa topologie constructive à partir des opérateurs structuraux nœudiens; 
                à partir aussi des locations diverses, dé-, co- et trans-, et aussi des algorithmes ape' et spin, pour "algorithme de partition d'un entier" et "système de production icsografique des nœuds". 
                les tresses et les surfaces de seifert auxquelles elles correspondent sont étudiées selon les paramètres nœudiens. 
                peuvent servir de matrice symbolique à la pensée biologique. 
                <br>curiosités : tissages des états (en hommage à <em>andré leroi-gourhan</em>).
            <h3 class="text-center">C – domaines contigus</h3>
                <p>• les algorithmes ape et spin constituent une passerelle naturelle entre les nombres, les mots de l'informatique théorique (ou théorie des langages formels) et les nœuds. 
                les codages en sont une expression immédiate. 
                de plus ape permet une pratique facile de la partition des entiers.</p>
                <p>• théorie des automates. 
                on peut assimiler chaque état nœudien à un "état" de la théorie des automates et un amas nœudien peut ainsi être considéré comme un "système de production".</p>
        <h2 class="text-center">II – nœuds textuels</h2>    
            <h3 class="text-center">A – la mailleutique</h3>     
            <p>mot forgé à partir de maille. 
            c'est la science et l'art des digmes ("mailles" du langage), des expériences de pensée et des "images" au sens du poète <em>reverdy</em> <cite>"[l'image...] naître [...] d'un rapprochement de deux réalités [...] éloignées. 
            plus les rapports des deux réalités rapprochées seront lointains, plus l'image sera forte...[...] une image [...] est [...] forte [...] parce que l'association des idées est lointaine et juste. 
            le résultat obtenu contrôle immédiatement la justesse de l'association", oeuvres complètes, nord-sud [...], pages 73-74, flammarion 1975.</cite> 
            <p>exemples <a routerLink="/ouvriere"> <mark> : l'ascenseur d'einstein, le chat de schrödinger, l'aimanton nœudien, l'analogon à la lecture conjointe du timée de platon, au sujet de l'harmonie, et du nœud borroméen à trois ronds de lacan, 
            le décryptage de la tapisserie de la dame à la licorne, la trinité chrétienne, l'homomorphie entre gamme musicale et calendrier, etc. 
            </mark></a></p>
            <p>pendant poétique à trois textes populaires de <em>freud</em> : <cite>science des rêves, psychopathologie de la vie quotidienne et le mot d'esprit dans ses rapports avec l'inconscient.</cite></p>
            <h3 class="text-center"> B – la psychanalyse</h3>    
            <p>exploration systématique du <b>RSIΣ</b> : Réel, Symbolique, Imagynaire et sintôme, de <em>lacan</em> avec le nœud borroméen à quatre ronds, 
            servant à la formalisation dessinée de la séance et du récit psychanalytiques, en permettant l'écriture et la lecture de l'analyse, 
            en parallèle à la tentative du psychanalyste <em>g. w. bion</em>.</p>
            <h3>C – l'icsografie</h3>     
            <p>c'est la méthode aboutissement de tout ce qui précède. 
            utilisée comme protocole d'accompagnement psychologique elle donne lieu à l'auxiliariat psychologique dans l'équipe soignante. 
            elle culmine dans la redynamisation cérébrale et soutient le corpus dit de psychoaching(C).</p>
        <h2 class="text-center">III – nœuds d'arts</h2>
            <p>dessins, peintures, sculptures en divers matériaux, mous ou durs, installations, animations vidéos, etc.

            </p>
    </div>     
    <div class="col-sm-3">
        <app-animation1></app-animation1>
    </div> 
    