<h1 class=" fs-2 text-center">investigations <strong>nœudiennes</strong><span class="badge bg-secondary mx-3 my-3">petite étude nœudienne des croisements</span></h1> <h1></h1> 
<div class="row">
    <div class="col-sm-2">
        <nav class="nav flex-sm-column nav-justified " style="background-color: rgb(125, 252, 7);">
            <app-boutontresse class= 'nav-item mt-3 mb-3'>tresses</app-boutontresse>
            <app-boutoncode class= 'nav-item mb-3'>codes</app-boutoncode>
            <app-bouton-croisement class="nav-item mb-3">croisements</app-bouton-croisement>
          <app-bouton-transition class= 'nav-item mb-3'>transitions</app-bouton-transition>
          <app-boutonape class= 'nav-item mb-3'>ape</app-boutonape>
          <app-boutonspin class= 'nav-item mb-3'></app-boutonspin>
          <app-boutonautomate class= 'nav-item mb-3'></app-boutonautomate>
          <app-boutontables class= 'nav-item mb-3'></app-boutontables>
        </nav>
    </div>
    <div class="col-sm-8">
            <p class="lead">— 1ère afin de montrer la différence entre le standard étrange d'attribution des valeurs aux croisements de la théorie mathématique des nœuds et l'attribution non standard naturelle de la nœudienne.</p>
        <ul>
            <li>phase 0 -- voici l'ombre d'un croisement et ses déclinaisons en dessus-dessous.</li>
            <li>phase 1 -- il y a deux manières de dessiner ce croisement avec un Dessus-dessous : a b. les mathématiciennes et les mathématiciens des nœuds prolongent la phase 1 en phase 2 – a+ et b- où l'on voit qu'ils attribuent une cotation artificielle, arbitraire, 
            <em>par convention</em> <small>c'est-à-dire sans étude ou explication préalable, sorte d'axiome non énoncé!</small> à deux objets qui sont superposables par rotation 
            <small>(évoquons sans nostalgie le fait que dans l' ancien temps on montrait l'identité de deux figures, triangles par exemple, par leur superposition) 
            </small>           
            <q>—– pour s'en convaincre, voir par exemple louis h. kauffman - on knots 1983, ou pour la science n°159 janvier 1991, article de vaughan jones.</q>
            c'est à partir de cette configuration rigide antinœudienne qu'ils élaborent, avec quelle virtuosité!, tout leur algébrisme avec des polynômes d'une incroyable complication ("complication" et non "complexité") que personne dans la communauté scientifique ne songe à mettre en cause 
            <q>(mais la "sociologie" dont nous entretient #lee smolin et plus gravement encore ce que nous révèle le prestigieux mathématicien #alexandre grothendieck, qui sait de quoi il parle!, dans son monumental #"récoltes et semailles" sur les moeurs des matheux, nous ont prévenu).</q>
            mais revenons à notre phase 1 : ab.<br> il semble naturel de la continuer ainsi :</li>
            <li>phase 2 <sub>bis</sub>-- géométriquement, les croisements a et b sont les mêmes à une rotation π/2 près : ba, c'est-à-dire qu'ils sont indiscernables car comme dit ci-dessus superposables, totalement; donc nous n'avons qu'un croisement. 
                portons ces deux occurrences du même croisement dans un carré, que nous appelons poinçon carré.
                là encore les deux occurrences sont indiscernables.</li> 
            <li>phase 3 --valuons les sommets des poinçons selon les liens de connexités : <b>a1 a2</b> et <b>b1 b2</b>; 
                cette valuation graphique différencie les deux occurrences de ce qui était le croisement unique a (ou b) et l'on voit que a1 ≠ a2 et b1 ≠ b2. <br>
                mais effectuons π/2 sur les quatre croisements obtenus d'où il appert que a1 = b2 et a2 = b1. nous obtenons donc bien là deux croisements distincts (ω ou ώ) (ώ ou ω) qui ne sont plus superposables.<br>    
                accentuons cette observation</li>
            <li>phase 4 -- choix extrinsèque des valeurs des croisements.
            donnons-nous une famille de deux valeurs; quiconque peut choisir arbitrairement une telle famille : 
            <ng-katex equation= "\{+,-\}, \{0,1\}, \{-1,+1\}, \{1,i\}, \{ω,ώ\}"></ng-katex>, etc...
            nous choisissons <ng-katex equation="\{ω,ώ\}"></ng-katex> parce que non connotée a priori, donc sans conséquence calculatoire immédiate ou induite, et appelons cette famille ornure. 
            comme il n'y a pas de privilège, une ornure quelconque peut être attribuée à un croisement quelconque mais une fois une ornure attribuée à un croisement, à moins de sombrer dans le délire, 
            l' autre ornure est attribuée à l' autre croisement.
            </li>
        </ul>
        <p>nous avons bien ainsi deux types distincts de croisements auxquels en fonction des besoins pour un état nœudien ou un amas ou une nuée, voire pour comparer les nœuds entre eux, nous attribuerons des valeurs distinctes; valeurs symboliques dont la raison tient à leur seule distinction, et qui respectent la souplesse de l'état.
         à ce stade seulement nous pourrions établir, comme en mathématique, une norme d'attribution, pourquoi pas! ωώ ou ώω. 
         <br>en ce sens, l'attribution extrinsèque des ornures rejoindrait l'intrinsèque puisque pour celle-ci il suffit de poinçonner un cadran dans l'état en connaissance de sa parure et de sa tournure.
        <br>rappelons que la parure est un paramètre de l'ombre qui fait office de cycle de sectorisation des croisements (un peu comme les clusters. voir plus loin "tresses"). 
        la tournure étant une sorte de spin des croisements extensible à l'état entier, voire à l'amas tout entier.
        </p>
    </div>
    <div class="col-sm-2">
        <div class="text-center mt-5">
            <img src="assets\SVG\investigations\croisement.svg" class="img-fluid">
        </div>
    </div>
  </div>
        