<h1 class=" fs-2 text-center"><img src="assets\ICON\pencil.svg" style="width: 2em ">dessiner des amas<span class="badge bg-secondary mx-3 my-3">le test de rareté</span></h1>
<div class="row">
    <div class="col-sm-2">
        <nav class="nav flex-sm-column nav-justified" style='background-color: rgb(102, 141, 173);'>
            <app-boutonamas class="nav-item mt-3 mb-3"></app-boutonamas>
            <app-boutonmetamorphose class="nav-item  mb-3"></app-boutonmetamorphose>
            <app-boutonombre class="nav-item mb-3"></app-boutonombre>
            <app-boutongraphe class="nav-item mb-3"></app-boutongraphe>
            <app-boutonrarete class="nav-item mb-3"></app-boutonrarete>
            <app-boutonformule class="nav-item mb-3"></app-boutonformule>
            <app-boutonmutation class="nav-item mb-3"></app-boutonmutation>
        </nav> 
    </div>       
    <div class="col-sm-8">
            <p class=lead>dans la présentation de cet ouvrage,
            nous énoncions que la rareté était fonction de la capacité qu'a une <mark>lunule</mark> d'entraîner la disparition de plus de <mark>croisements</mark> qu'elle n'en comporte, 
            c'est-à-dire ses deux plus un, supplémentaire, au moins. 
            et nous appelons <mark>précieuse</mark> une telle lunule.
            <p>c'est dire que son annihilation perturbe son environnement nœudien jusqu'à, pour certains états, leur annihilation complète et la dégénérescence du résultat obtenu en rond(s) non noué(s).</p>
                 
            <p>lorsqu'on effectue une idd (voir <a href="plastique#defrare">définition d'un nœud rare</a> ) sur une lunule, 
            la torsade double disparaît pour laisser place à une torsade nulle. 
            lorsqu'on effectue une idd sur une ganse, la torsade triple laisse place à un croisement, ou torsade simple. 
            <br>on vérifie ainsi aisément qu'une torsade multiple à c croisements devient après une idd une torsade à c - 2 croisements, une quatre devient deux, une cinq devient trois, etc..</p>
            <div class="d-flex flex-row p-3">
                <div class="text-center img-hover-zoom p-3 ">
                    <img src="assets\SVG\nrare\simplif.svg" style="width: 98%;">
                </div>
                <div class="text-center img-hover-zoom p-3">
                    <img src="assets\SVG\nrare\torsades.svg" style="width: 25rem;" >
                </div>
            </div>
        </div>
        
        <div class="col-sm-2">
            <div class="text-center img-hover-zoom p-3">
                <img src="assets\SVG\nrare\testrare.svg" style="width: 95%;">
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
        <h2 class="text-center">nouage</h2> 
            <p>pour cela, qui ressemble à une redondance, <strong>la nœudienne délaisse les torsade multiples à c > 3</strong>, et tend à les réduire aux quatre fondamentales dont les propriétés ne s'équivalent pas : nulle, simple, double (lunule) et triple (ganse).</p>
                
            <p>on pourrait se dire que la ganse pouvant, par idd, se réduire à la torsade simple, un seul croisement, pourquoi la conserver dans notre ensemble?, 
                et à la limite idem pour la lunule qui devient une torsade nulle!<br>
                <strong>ainsi les seuls nœuds véritablement générateurs seraient ceux ne comportant que des torsades simples.</strong></p>
                
                <div class="text-center img-fluid">
                    <img src="assets\SVG\nrare\graphescolor.svg" style="width: 800px;">
                </div>
                
                <p>ces nœuds, ou plutôt ces états puisque nous pratiquons en priorité les nœuds métamorphosables, 
                la nœudienne les nomme nœuds simples totalement desserrés car nous étudierons aussi les états selon leur serrage, 
                c'est-à-dire en fonction du rôle qu'y jouent les torsades multiples (c ≥ 2).
            <br>de plus cette question interviendra aussi en homotonie, entre autres, lorsque nous étudierons les transmutations. 
                la nœudienne ne s'intéresse pas aux nœuds ayant des états comportant des torsades à plus de trois croisements. 
                au-delà de trois croisements, une torsade de valence paire à 2.c croisements se simplifie en une torsade à valence paire de rang immédiatement inférieur,
                à 2.(c - 1) = 2 c - 2 croisements donc si 2.c = 4, 2.c - 2 = 2 soit une lunule. 
                de même une torsade de valence impaire à cinq croisements se réduit après idd à une torsade à trois croisements.
            <br>simplifier les torsades de cette manière ne change rien au nouage : nous inversons un Dessus-dessous, deux croisements en lunule disparaissent, c'est tout. 
                une lunule ainsi annulable n'existe que pour elle-même, elle ne participe pas au nouage du nœud, simplement à son resserrage; 
                elle est une "complication" du nœud et non un élément de complexité du nœud, c'est pourquoi nous l'annulons. 
                pour cette opération certaines torsades doubles à 2 croisements deviendront des torsades nulles à 0 croisement, d'autres, triples à 3 croisements deviendront des torsades simples à 1 croisement.
                mais ce qui différenciera ces torsades des précieuses sera le fait que pour celles-ci, les simplifications ne seront pas toujours possibles sans altérer le nouage, c'est-à-dire sans entraîner une perte de croisement(s) en plus de ceux de la lunule délibérément annulée.
            </p>
    <h2>nodules précieux</h2>
    <p>les dessins ci-dessous montrent des cas d'idd. sur <ol type="a">
            <li>la lunule d'une agrafe retournable; résultat : moins 4 croisements, ce qui donne 4 – 4 = 0, une double tor-sade nulle.</li>
            <li>un motif composite permutation réductible (non alternée)/lunule; résultat : moins 3 croisements, ce qui donne 5 – 3 = 2 soit une lunule. </li>
            <li>une permutation; résultat : moins 2 croisements, ce qui donne une bouclette à un croisement, qui s'annule tout aussitôt, donc 3 – 3 = 0 soit une torsade nulle.</li>
            <li> une somme topologique de deux ganses d'ornures inverses; 
            résultat : moins 2 croisements, puis, par retournement moins un croisement, ce qui donne 6 – 3 = 3 et une permutation. </li>
            <li>deux ganses de mêmes ornures réunies par un croisement d'ornure inverse; résultat : moins 2 croisements, puis par retournement moins un croisement, ce qui donne 7 – 3 = 4 et une torsade quadruple.</li>
        </ol>
        <p>dans les cinq motifs présentés, toutes les lunules sont précieuses, elles participent donc de la rareté de l'état qui les contient, sans préjuger de la préciosité des autres lunules du même état.
            c'est après seulement avoir effectué ce test complet sur tout l'état que celui-ci peut s'avérer rare ou non. 
            de même, pour tous les états de l'amas et sur tous les amas de la nuée afin de déterminer si le nœud est rare ou non.
            cette simplification de la lecture des nœuds qui néglige ceux ayant des torsades multiples qui compliquent sans complexifier nous entraîne à ne pas porter attention à la totalité des nœuds rapportés dans les tables usuelles
            par désintérêt de ceux qui possèdent des torsades multiples à la limite infinies. 
            on peut fabriquer une infinité de nœuds à n'importe quel nombre de croisements, aux morphologies infiniment semblables, avec de telles torsades.</p>    
    </div>
    <div class="col-sm-3 d-flex flex-column-reverse ">
        <div class=" text-center mt-3">
            <img src="assets\SVG\nrare\nodulesprecieux.svg">
        </div> 
    </div>
    
</div>


