h1 {

  background-color: rgb(102, 141, 173);
  border-radius: 1em;
  padding: 1em;
  text-align: center;
}

h2 {
  background-color: rgb(194, 127, 51);
  color: white;
  border-radius: 1em;
  margin: 0.5em;
  text-align: center;
}
p {
  text-indent: -3em;
  margin-left: 5em;
  margin-right: 3em;
  text-align: justify;
}
nav {
  background-color: rgb(102, 141, 173);
  border-radius: 1em;
  padding: 1em;

 }
mark {
  color: blueviolet;
  font-weight: bold;
}
em {
  font-style: oblique;
  color:crimson
}
img {
 text-align: center;
  border-radius: 0.5em;
}

figure {
  border-radius: 1em;
  margin: 1em;
  border: solid 4px ;
  color:  black;
  text-align: center;
  background-color: rgb(146, 145, 143);
  
}
.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}