h1 { background-color: rgb(3, 184, 3);
    border-radius: 1em;
}

h2 {color: rgb(3, 184, 3);
    border-radius: 1em;
}


 nav{
    border-radius: 1em;
    background-color: rgb(168, 245, 138);
 }
 p {
    text-align: justify ;
    text-indent: -3em;
    margin-left: 6em;
    margin-right: 3em;
  }
  mark {
    color: blueviolet;
    font-weight: bold;
  }
  em {
    font-style: oblique;
    color:crimson
  }
  cite {
    font-style: oblique;
    color: purple
  }
  .img-hover-zoom {
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }