<div class="row">
    <div class="col-sm-2">
      <nav class="nav flex-sm-column nav-justified " style="background-color: rgb(125, 252, 7);">
          <app-boutontresse class= 'nav-item mt-3 mb-3'>tresses</app-boutontresse>
          <app-boutoncode class= 'nav-item mb-3'>codages</app-boutoncode>
          <app-bouton-croisement class="nav-item mb-3">croisements</app-bouton-croisement>
          <app-bouton-transition class= 'nav-item mb-3'>transitions</app-bouton-transition>
          <app-boutonape class= 'nav-item mb-3'>ape</app-boutonape>
          <app-boutonspin class= 'nav-item mb-3'></app-boutonspin>
          <app-boutonautomate class= 'nav-item mb-3'></app-boutonautomate>
          <app-boutontables class= 'nav-item mb-3'></app-boutontables>
      </nav>
      </div>
    <div class="col-sm-8">
