div {
    text-align: justify;
  }
  h1 {

    background-color: rgb(102, 141, 173);
    border-radius: 1em;
  }
  
  h2 {
    background-color: rgb(243, 132, 6);
    color: white;
    border-radius: 1em;
  }
  p {
    text-indent: -3em;
    margin-left: 6em;
    margin-right: 3em;
  }
  mark {
    color: blueviolet;
    font-weight: bold;
  }
  em {
    font-style: oblique;
    color:crimson
  }
  
 nav {
  background-color: rgb(102, 141, 173);
  border-radius: 1em;

 }
 img {
  
  
  text-align: center;
  border-radius: 0.5em;
}

figure {
  border-radius: 1em;
  margin: 1em;
  border: solid 4px ;
  color:  black;
  text-align: center;
  background-color: rgb(146, 145, 143);
  
}