<h1 class ="text-center border1" >la voie nœudienne</h1>
<div class="row">
    <div class="col-sm-2">
      <nav class="nav flex-sm-column nav-justified border1" style="background-color: darkorchid;">
        <app-boutonclitorne class="nav-item mt-3 mb-3"></app-boutonclitorne>
        <app-boutonpsy class= 'nav-item  mb-3'></app-boutonpsy>
        <app-boutondoctrines class= 'nav-item mb-3'></app-boutondoctrines>
      </nav>
    </div>
    
    
    <div class="col-sm-7">
            <h2>A– la mailleutique</h2> 
                <p>mot forgé à partir de maille. c'est la science et l'art des digmes ("mailles" du langage), des expériences de pensée et des "images" 
                    au sens du poète <em>reverdy</em> <cite>("[l'image...] naître [...] d'un rapprochement de deux réalités [...] éloignées. plus les rapports des deux réalités rapprochées seront lointains, plus l'image sera forte...[...] une image [...] est [...] forte [...] parce que l'association des idées est lointaine et juste. le résultat obtenu contrôle immédiatement la justesse de l'association", oeuvres complètes, nord-sud [...], pages 73-74, flammarion 1975). 
                    </cite><br>
                exemples : 
                l'ascenseur d'einstein, 
                le chat de schrödinger, 
                l'aimanton nœudien, 
                l'analogon à la lecture conjointe du timée de platon, 
                au sujet de l'harmonie, et du nœud borroméen à trois ronds de lacan, 
                le décryptage de la tapisserie de la dame à la licorne, 
                la trinité chrétienne, 
                l'homomorphie entre gamme musicale et calendrier, etc. 
                <br>pendant poétique à trois textes populaires de <em>freud</em> : <cite>science des rêves, psychopathologie de la vie quotidienne et le mot d'esprit dans ses rapports avec l'inconscient</cite> .
                </p>
            <h2>B– la psychanalyse</h2> 
                <p>exploration systématique du RSIΣ : Réel, Symbolique, Imagynaire et sintôme, de lacan avec le nœud borroméen à quatre ronds, servant à la formalisation dessinée de la séance et du récit psychanalytiques, en permettant l'écriture et la lecture de l'analyse, en parallèle à la tentative du psychanalyste g. w. bion.
                </p>
            <h2>C– l'icsografie</h2> 
            <p>
            c'est la méthode aboutissement de tout ce qui précède. 
            utilisée comme protocole d'accompagnement psychologique elle donne lieu à l'auxiliariat psychologique dans l'équipe soignante. 
            elle culmine dans la redynamisation cérébrale et soutient le corpus dit de psychoaching(C)
            </p>
    </div>
    <div class="col-sm-3" >
        <img src="assets\SVG\boro 3-4-5-6.svg" class="img-fluid ">
    </div>
</div>
