
 p {
     text-align: justify;
    text-indent: -3em;
    margin-left: 6em;
    margin-right: 6em;
  }
  table {
    margin-left: 1em;
    margin-right: 1em;
  }

.physique {
    color: blue;
}
.math {
    color: rgb(3, 101, 114);
    
}
.cyber {
    color: darkorchid;

}
.psy {
    color: goldenrod;
}
.econo {
    color: firebrick;
}
.ling {
    color: green;
}
.sex {
    color:red
}
thead{
     background: rgb(28, 31, 34);
     color:white
     ;
}