<h1 class=" fs-2 text-center">la voie nœudienne<span class="badge bg-secondary mx-3 my-3">doctrines et résidus</span></h1> <h1 class ="text-center" ></h1>
<div class="container-fluid"></div>
<div class="row mt-5">
    <div class="col-sm-1"></div>    
    <div class="col-sm-6">   
        <p class="lead">les principes révèlent les doctrines qu’ils ont pour tâche d’édifier.
        un double nom est attribuable à chacun de ces principes .
        ces six doublets sont quantiques. chaque quantum est spécifique.</p>
        <p>le <b>quantum</b> est à la fois <i>trait</i>, c’est-à-dire quantité élémentaire, infime et irréductible, et <i>dénominateur commun minimal des multiples</i>.
        <br>l’existence de deux noms pour un même principe révèle un déplacement entre ce qu’ils sont censés représenter : d’une part l’objectivité des faits et relations ramassées dans le principe, leur marquage comme signification mutuelle; 
            d’autre part la subjectivité des acteurs quant à la signification et l’usage, c’est-à-dire l’interprétation du principe et sa situation dans la connaissance.
            <br><mark class="physique">l’incertitude</mark> est intrinsèque au réel physique; l’<i class="physique">indétermination</i> est le sens que la mesure peut lui donner.
            <br><mark class="math">l’incomplétude</mark> exprime la structure formelle nécessaire de la logique; l’indécidabilité relève de la décision algorithmique.
            <br><mark class="cyber">l’incontrôlabilité</mark> révèle la part de l’espace objectif de résultat qui découle de la structure et du fonctionnement du système; l’ingouvernabilité expose le rapport de cet espace à la visée organisatrice.
            <br><mark class="psy">le déplaisir</mark> est la quantité de charge non écoulée rapportée à la satiété; l’insatisfaction incarne l’actrice et l’acteur dans leur intersexualité.
            <br><mark class="econo">la division</mark> du travail est constituante des formations économiques; la lutte des classes est le moteur de l’histoire.
            <br><mark class="ling">la distinction</mark> articule l’intentionnalité; l’ambiguïté provoque les effets de langage.
        </p> 
    </div>
    <div class="col-sm-5">
        <table class="table table-bordered">
        <thead style="background: lightslategrey;">
            <tr>
            <th scope="col">le principe de</th>
            <th scope="col">fonde la</th>
            <th scope="col">le principe de - est le principe de -</th>
            <th scope="col">quantum</th>
            </tr>
        </thead>
        <tbody>
            <tr class="physique">
            <th scope="row" >incertitude</th>
            <td>physique</td>
            <td>indétermination</td>
            <td>action</td>
            </tr>
            <tr class="math">
            <th scope="row" >incomplétude</th>
            <td>mathématique</td>
            <td>indécidabilité</td>
            <td>pas</td>
            </tr>
            <tr class="cyber">
            <th scope="row" >incontrôlabilité</th>
            <td>cybernétique</td>
            <td>ingouvernabilité</td>
            <td>information</td>
            </tr>
            <tr class="psy">
                <th scope="row" >déplaisir</th>
                <td >psychanalyse</td>
                <td>insatisfaction</td>
                <td>charge</td>
            </tr>
            <tr class="econo">
                <th scope="row" >division du travail</th>
                <td >économie politique</td>
                <td>lutte des classes</td>
                <td>valeur</td>
            </tr>
            <tr class="ling">
                <th scope="row" >distinction</th>
                <td >linguistique</td>
                <td>ambiguîté</td>
                <td>signifiant</td>
            </tr>

        </tbody>
        </table>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">le doublet de</th>
                    <th scope="col">identifie le principe de</th>
                    <th scope="col">qui prend la forme de</th>
                </tr>
            </thead>
            <tbody>
                <tr class="physique">
                    <th scope="row" >incertitude</th>
                    <td>énergie</td>
                    <td>indétermination factuelle</td>
                </tr>
                <tr class="math">
                    <th scope="row" >incomplétude</th>
                    <td>intelligibilité</td>
                    <td>indécidabilité récurrente</td>
                </tr>
                <tr class="cyber">
                    <th scope="row" >incontrôlabilité</th>
                    <td>reconnaissance</td>
                    <td>ingouvernabilité démonstrative</td>
                </tr>
                <tr class="psy">
                    <th scope="row" >déplaisir</th>
                    <td >réalité</td>
                    <td>insatisfaction organisatrice</td>
                </tr>
                <tr class="econo">
                    <th scope="row" >division du travail</th>
                    <td >propriété</td>
                    <td>luttes concrètes</td>
                </tr>
                <tr class="ling">
                    <th scope="row" >distinction</th>
                    <td >énonciation</td>
                    <td>ambiguîté discursive</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-1"></div>    
    <div class="col-sm-10">
        <h3>loi d'insuffisance</h3>
        <p>chacun de ces doublets identifie un nouage, principe régulateur de son activité qui réagit à son emploi et légitime sa juridiction.</p>
        <p>la <b class="sex">loi d’insuffisance</b> noue ces six doublets. la doctrine qu’elle fonde, par les principes dont elle s’étaie, est la <i class="sex">sexualité</i>. 
        son autre nom serait : <span class="sex">loi de résidu</span> . son quantum est le sexe.
        <br>l’insuffisance structure l’accès aléatoire au réel et construit la réalité selon le mode de la consistance, et son occupation selon le mode de l’écart, c’est-à-dire de l’erreur; 
        le résidu délimite le domaine d’exercice et les partage – écart, domaine –, la <b>résidance</b>, sur le mode de la compatibilité : ce qu’on nomme la vérité.</p>
        <p>l’insuffisance identifie la totalité en une unité plurielle qui prend la forme de <i class="sex" >plastique rationnelle</i>. 
            rationnelle, elle s’exerce dans le réseau discursif de la science; plastique, elle se pratique comme confinement du sexuel dans le geste. 
            elle signifie que les formations sexuelles inconscientes qui concourent au savoir sont structurées autour d’un manque, à partir de lui. 
            elles s’organisent en ensembles de signaux ou pulsions qui tissent un espace-temps qui leur est cohérent, consubstantiel, et donc sans existence en dehors d’elles, permettant l’accès au réel par des séries de sondages. 
            ces séries inscrivent le réel comme mémoire inépuisable des formations sexuelles <span class="psy">inconscientes</span> .
        </p>
        <table class="table table-bordered">
            <thead class="thead-light" >
                <tr>
                    <th scope="col">corpus</th>
                    <th scope="col">trait</th>
                    <th scope="col">marquage</th>
                    <th scope="col">usage</th>
                    <th scope="col">nouage</th>
                    <th scope="col">plastique</th>
                </tr>
                <tr class="fst-italic" >
                    <th scope="col">doctrine</th>
                    <th scope="col">quantum</th>
                    <th scope="col">signification objectivité</th>
                    <th scope="col">interprétation subjectivité</th>
                    <th scope="col">régulateur</th>
                    <th scope="col">transformation forme</th>
                </tr>
            </thead>
            <tbody>
                <tr class="sex" >
                    <th scope="row">sexualité</th>
                    <td>sexe</td>
                    <th scope="row">insuffisance</th>
                    <td>résidu</td>
                    <th scope="row">totalité</th>
                    <th scope="row">plastique rationnelle</th>
                </tr>
                <tr class="physique">
                    <th scope="row" >physique</th>
                    <td>action</td>
                <th scope="row" >incertitude</th>
                <td>indétermination</td>
                <th scope="col">énergie</th>
                <th scope="col">indétermination factuelle</th>
                </tr>
                <tr class="math">
                    <th scope="row">mathématique</th>
                    <td>pas</td>
                <th scope="row" >incomplétude</th>
                <td>indécidabilité</td>
                <th scope="col">intelligibilité</th>
                <th scope="col">indécidabilité récurrente</th>
                </tr>
                <tr class="cyber">
                    <td>cybernétique</td>
                    <td>information</td>
                <th scope="row" >incontrôlabilité</th>
                <td>ingouvernabilité</td>
                <th scope="col">reconnaissance</th>
                <th scope="col">ingouvernabilité démonstrative</th>
                </tr>
                <tr class="psy">
                    <td >psychanalyse</td>
                    <td>charge</td>
                    <th scope="row" >déplaisir</th>
                    <td>insatisfaction</td>
                    <th scope="col">réalité</th>
                    <th scope="col">insatisfaction organisatrice</th>
                </tr>
                <tr class="econo">
                    <td >économie politique</td>
                    <td>valeur</td>
                <th scope="row" >division du travail</th>
                <td>lutte des classes</td>
                <th scope="col">propriété</th>
                <th scope="col">luttes concrètes</th>
                </tr>
                <tr class="ling">
                    <td >linguistique</td>
                    <td>signifiant</td>
                <th scope="row" >distinction</th>
                <td>ambiguîté</td>
                <th scope="col">énonciation</th>
                <th scope="col">ambiguïté discursive</th>
                </tr>
            </tbody>
        </table>
    </div>
<div class="row mt-3">
    <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <p>les multiples croisements entre ces formations trouvent leurs représentations dans les alliances entre doctrines qui, par retour, alimentent ces formations et participent de leur infinie reconfiguration. 
            un nom, un mot, peut représenter une configuration. en voici quelques-uns.</p>
            
            <p>de même il est possible de nouer les trois termes – homéostasie, synchronisme et camouflage – par un quatrième...</p>
            <p>les mots sont des marques sonores. ils sont eux-mêmes soumis à <span class="ling">l’ambiguïté discursive</span>  permettant à chaque terme de glisser d’un champ sémantique à l’autre avec plus ou moins de sens. 
            comme marques, les mots sont devenus les objets de la doctrine des marques, la mathématique, pendant que devenus des choses, c’est-à-dire des résidus doués de vie propre, actualisés par la langue ils sont donc devenus les objets de la linguistique.
            <br>dans le champ des guerres et des alliances, les glissements sémantiques sont d’autant plus prononcés que le langage participe des guerres — par persuasion, ordre ou mensonge. 
            dans la catégorie du mensonge, sont créés des termes ou des formules, à partir des doctrines, dont la visée est de détourner de la précision, c’est-à-dire d’obliger à refaire un chemin de connaissances dans la doctrine afin d’empêcher une prise de décision pertinente. les philosophes spectaclistes – devenus aujourd’hui les publicitaires – sont la corporation qui a pour tâche d’élaborer ces leurres. il s’agira donc de décoder ces formules en révélant leur lieu sémantique, c’est-à-dire leur participation à la guerre.
            <br>aujourd’hui, les six doctrines et la loi qui les noue sont ainsi détournées, chaque détournement s’accompagne de son slogan :
            <br>l’inquiétude du vide intellectuel devient l’incertitude, nous ne savons rien;
            <br>l’impuissance politique devient l’incontrôlabilité, nous ne pouvons rien;
            <br>l’inconfort moral devient l’incomplétude, nous ne choisissons rien;
            <br>l’incompréhension de la parole devient la distinction, nous ne comprenons pas;
            <br>la solitude des petits maîtres devient la division, nous ne sommes rien;
            <br>l’inutilité des fumées théoriques devient le déplaisir, nous sommes en danger;
            <br>l’insignifiance de l’action devient l’insuffisance, ça ne sert à rien.
            <br>ainsi peut s’énoncer le bréviaire du renoncement sexuel.</p>
        </div>
    <div class="col-sm-4 mt-5">
            <table class="table table-bordered table-responsive table-sm">
                <thead>
                    <tr>
                        <th scope="col"  style="width: 12rem">ce terme</th>
                        <th scope="col"  style="width: 20rem">représente la tendance commune</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col">homéostasie</th>
                        <td>aux systèmes cybernétiques et aux affects psychiques</td>
                    </tr>
                    <tr>
                        <th scope="col">synchronisme</th>
                        <td>aux systèmes cybernétiques et aux actes de langages</td>
                    </tr>
                    <tr>
                    <th scope="col">camouflage</th>
                        <td>aux actes de langages et aux affects psychiques</td>
                    </tr>
                </tbody>
            </table>
        </div>            
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h3>structures résiduelles</h3>
                <p>chaque doctrine vise à un énoncé de ce qu’elle rend actuel. 
                cet énoncé fait figure de résidu de l’acte de transformation <small class="text-muted">– métamorphose, travail –</small>  par lequel, d’un potentiel encore indistinct que l’acte sépare de ses virtualités, la transformation articule ses produits. 
                ce qui a été actualisé réalimentera les virtualités du potentiel de la doctrine en constituant un nouveau potentiel. 
                l’entropie mesurera le gradient d’alimentation du potentiel, le résiduel servira de support à l’actuel en travail. 
                c’est le sens à plus forte probabilité, ce qu’on a coutume d’appeler le sens naturel. 
                le court-circuit, le shunt, ou <b>contresens</b>, de très faible probabilité, constitue cependant aussi un sens naturel; il apparaît comme un accident, une défaillance de la structure, un caractère malsain. 
                ce shunt fait étincelle, éclair, dans le processus. il tend à immédiatiser le potentiel en actuel et résiduel.
                <br>les amplitudes respectives, quoique liées à des probabilités différentes, sont équivalentes.</p>
                <p>ce processus potentiel/virtuel–travailmétamorphose–actuel/résiduel est commun à toutes les doctrines et permet de comparer les rôles qu’y jouent les notions. 
                il permet en outre de suivre les progrès en productivité des doctrines.
                <br>il y a huit formes résiduelles qui se classent selon 3x2 critères : excès ou défaut du système, réutilisation ou inemploi par la structure, dynamique <small class="text-muted"> – développement historique propre –</small> ou pétrification. les voici :</p>

                <p>des relations de passage sont possibles entre résidus. le passage de rejeton à freinte, par exemple, s’appelle avortement.
                de ces huit résidus, seuls les dépôt et réserve sont provisoires, les autres sont définitifs. les résidus dynamiques, excès rejeton et excroissance et défauts correspondants freinte et produit renouvellent une structure à partir de laquelle le processus reprendra.
                <br>voici six structures résiduelles.</p>
        </div>
    <div class="col-sm-5">
        <div class="mt-5">
        <img src="assets\SVG\schemaresiduel.svg">
        </div>
        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th scope="col" style= "width: 10rem"></th>
                    <th scope="col">l’excès</th>
                    <th scope="col">le défaut</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>pétrifiée et réutilisable comme alimentation du système</td>
                    <td>le <b>dépôt</b></td>
                    <td>la <i>réserve</i></td>
                </tr>
                <tr>
                    <td>dynamique et réutilisable comme amplification</td>
                    <td>l'<b>excroissance</b></td>
                    <td>le <i>produit</i></td>
                </tr>
                <tr>
                    <td>dynamique et abandonnée</td>
                    <td>le <b>rejeton</b></td>
                    <td>la <i>freinte</i></td>
                </tr>
                <tr>
                    <td>pétrifiée et oubliée</td>
                    <td >la <b>survivance</b></td>
                    <td>le <i>fossile</i></td>
                </tr>
                
            </tbody>
        </table>
    </div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <table class="table table-bordered mt-10" >
            <thead>
                <tr>
                    <th style= "width: 10rem" scope="col"></th>
                    <th scope="col" style="width: 12rem" class="psy">psychanalyse</th>
                    <th scope="col"  style="width: 12rem" class="econo">économie</th>
                    <th scope="col"  style="width: 12rem" class="ling">linguistique</th>
                    <th scope="col"  style="width: 12rem" class="cyber">cybernétique</th>
                    <th scope="col"  style="width: 12rem" class="physique">physique</th>
                    <th scope="col"  style="width: 12rem" class="math">mathématique</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope= "row">potentiel</td>
                    <td class="psy">perception</td>
                    <td class="econo">force de travail </td>
                    <td class="ling">parole</td>
                    <td class="cyber">environnement</td>
                    <td class="physique">énergie</td>
                    <td class="math">ensemble des marques</td>
                </tr>
                <tr>
                    <td scope= "row">virtuel</td>
                    <td class="psy">signes de perception</td>
                    <td class="econo">capital</td>
                    <td class="ling">énonciation</td>
                    <td class="cyber">domaine</td>
                    <td class="physique">matière</td>
                    <td class="math">structure des marques</td>
                </tr>
                <tr style="font-weight: bold ">
                    <td scope= "row">transformation</td>
                    <td class="psy">refoulement</td>
                    <td class="econo">travail</td>
                    <td class="ling">langue</td>
                    <td class="cyber">traitement de l'information</td>
                    <td class="physique">mouvement</td>
                    <td class="math">logistique</td>
                </tr>
                <tr style="font-style: italic">
                    <td scope= "row">actuel</td>
                    <td class="psy">inconscient</td>
                    <td class="econo">valeur</td>
                    <td class="ling">textuel</td>
                    <td class="cyber">discernable</td>
                    <td class="physique">champ</td>
                    <td class="math">théorie</td>
                </tr>
                <tr style="font-style: italic">
                    <td scope= "row">résiduel</td>
                    <td class="psy">conscient</td>
                    <td class="econo">marchandise</td>
                    <td class="ling">texte</td>
                    <td class="cyber">état</td>
                    <td class="physique">corps</td>
                    <td class="math">formule</td>
                </tr>
                <tr style="background-color: beige;">
                    <td scope= "row">sens naturel</td>
                    <td class="psy">changement perceptif</td>
                    <td class="econo">accumulation de capital</td>
                    <td class="ling">compétence</td>
                    <td class="cyber">gouverne</td>
                    <td class="physique" >interaction</td>
                    <td class="math">démonstration</td>
                </tr>
                <tr style="background-color: beige">
                    <td scope= "row">contre-sens/shunt</td>
                    <td class="psy">régression (hallucination)</td>
                    <td class="econo">crise</td>
                    <td class="ling">glossolalie</td>
                    <td class="cyber">accident</td>
                    <td class="physique">transition</td>
                    <td class="math">intuition</td>
                </tr>
                
            </tbody>
        </table>
    </div>   
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <p><b>potentiel</b> et <i>résiduel</i> sont les sommants de la structure : le premier comme somme indivise, le deuxième comme métonymique. 
        <br><b>virtuel</b> et <i>actuel</i> sont les formants de la structure : le premier comme séparateur, le deuxième comme indicateur. 
        <br>la barre qui sépare le sens naturel et le contresens est la barrière de potentiel naturelle des conflits.
        <br>une structure résiduelle est un <i>mode d’attaque</i> de la doctrine. il y en a donc beaucoup pour une même doctrine.
        ><i>l’épistémologie</i> est un discours du nouage d’une doctrine et de ses modes d’attaque, l’ensemble de ses structures résiduelles. 
        la loi d’insuffisance inscrit ce mouvement d’ensemble dans l’histoire en un procès continu de construction et de déconstruction qui n’omet pas les changements de sens, les dérivations et les mutations.
        </p><p><mark class="sex">la loi d’insuffisance</mark> et les doctrines organisent le monde des représentations, ce qu’on appelait <i>mental</i>, comme un espace-temps réticulaire tissu de la sexualité et de la langue. 
        il a la forme de <span class= "cyber">l’autosexualité</span> puisqu’il en possède trois caractères essentiels : l’expérimentation constante <small class="text-muted">– comme observation répétitive –</small>, la relecture permanente ou <i>discours intérieur</i> <small class="text-muted">– comme analyse équilibrante –</small> et <span class= "cyber ">l’autoidentification</span> <small class="text-muted">— comme synthèse conservative</small>. 
        il est une représentation lui-même qui se dessine à partir du double mouvement : d’une part le sens naturel du procès par lequel <span class= "math ">l’identifiée</span> noue ce qui lui est apporté à ce qu’il doit vivre, d’autre part le contresens, à partir de l’accumulation initiale du langage et des affects sexuels, par lequel l’identifiée noue autrement ceux-ci sur le mode de la fulgurance. 
        <span class= "math ">l’identifiée</span> concrète se constituera comme inscription réelle de cette circulation, heurtée et contradictoire du fait des échanges incessants simultanés de charges dans les deux sens et de leur évolution ainsi que de l’asynchronie entre sens naturel et contre-sens (shunt) et de leur inertie, de leur viscosité différente, à l’image du déferlement d’un fleuve dans l’océan <small class="text-muted">– comme l’amazone, par exemple –</small>, chacun cependant étant le fleuve de l’autre. 
        l’asynchronie mesure les décalages et les cadences d’alimentation du potentiel, de son accumulation, de ses décharges et de ses ruptures. 
        le sens naturel pur mènerait à l’incohérence du fait de la répétition automatique continuelle de la pulsion, de la non corrélation entre les impulsions; le contresens pur mènerait au délire, constitué par la marée pulsionnelle. 
        le potentiel n’est constitué que d’une unique trame d’informations sexuelles à partir desquelles <span class= "math ">l’identifiée</span> se déploie, par actualisations et potentialisations successives.
        </p><p>cette conjonction des heurts, des mélanges, des auto-inductions et du procès partagé par le sens naturel <small class="text-muted">– véritable plasma pulsionnel qui identifie la collectivité à un seul référent, celui de l’initiation sexuelle à la compulsion économique </small>– organise les humaines comme identiques et différentes, c’est-à-dire comme communicantes -traductrices ou -traducteurs : <span class= "math ">l’identité</span> des systèmes matériels n’entraîne pas <span class= "math ">l’identité</span> des jouissances. 
        <br>le sens naturel induit l’ordre, le sentiment de l’ordre, mais découpé, segmenté puisque cet ordre, ce sentiment, est fourni en blocs pulsés du potentiel par les transformations. le contresens apporte le liant <small class="text-muted">– sans être lui-même lié –</small>, le sentiment de continuité <small class="text-muted">–sans être lui-même continu –</small> dans le sens naturel par les chocs et brassages permanents de ces deux mouvements qui demeurent adhérents pour <span class= "math ">l’identifiée</span>. 
        ce brassage rendu convolutif par retour du sens naturel, toujours travaillé par les transformations qui règlent les amplitudes et les champs de confinement des produits, assure la possibilité de l’articulation sans laquelle l’information irait s’écraser dans une bouillie blanche locutoire et libidinale. 
        <br>l’équivalent universel des blocs pulsés, des ordres, est le temps.
        le temps est simultanément mesure universelle des ordres à leur doctrine, et quantum de ces ordres : <i>time is money, money is information, information is convolution and convolution is energy and time in order</i>.</p>
        <p>dans le schéma où <b>p</b> est le potentiel, <b>v</b> le virtuel, <b>t</b> la transformation, <b>a</b> l’actuel et <b>r</b> le résiduel, <b>p-v/t/a-r</b>, le temps résulte du cadencement de chaque passage <b>t</b> comme quantum du processus dans la phase du sens naturel <b>v/t/a</b>. 
            dans le même mouvement, la corrélation entre potentiel <small class="text-muted">– potentiel et virtuel –</small> et actuel <small class="text-muted">– actuel et résiduel –</small> résulte comme accrochée à ce cadencement. 
            c’est ce lien qui fournit toute signification aux objets du savoir. 
        <br>cependant temps et corrélation sont décalés l’un par rapport à l’autre : le temps résulte exclusivement de la cadence des pulsations du passage <b>v/t/a</b> alors que la corrélation transporte avec elle une viscosité dont l’effet inertiel la fait retarder sur le temps et jouer ainsi un rôle particulier dans le passage du sens naturel <b>r/p</b>, résiduel/potentialisation. 
            c’est dans cette zone, en effet, que naît le sens, zone de turbulence extrême puisque s’y brassent sens naturel et contresens, mouvement <b>p/t/r</b> et mouvement <b>p/r</b>, véritable plasma dévastateur et créateur. 
        <br>le temps prend lui-même place comme corrélation, rapport de la pulsation au quantum, mais comme unique corrélation à l’inertie quasi nulle et sert donc d’équivalent universel des corrélations, des significations qui s’en déduisent, c’est-à-dire de tout ce qui inscrit la viscosité comme forme du mouvement, apparente sous des formes diverses <small class="text-muted">– des champs relativistes et quantiques à la libido –</small> imprimée dans la chose. 
        <br>c’est dans ce plasma shunt-sens naturel que naissent toutes les dérivations qui trouveront leur écho dans <b>v/t/a</b> ou <b>a/t/v</b> et pour celles qui seront conformées par <b>t</b>, leur inscription dans la réalité de la structure. 
            la phase qui opère de <b>t/a-r</b> à <b>a-r/p-v</b> bascule en permanence la cause et l’effet puisque <b>a-r</b> effet de <b>p-v/t</b> devient la cause dans <b>a-r/p-v</b>. cet effet de bascule induit des quiddités et des quotités en amont de <b>t/a-r</b> qui poursuivront leur destin selon la portée des transformations, certaines seront annulées d’autres amplifiées, leur détermination prendra la forme de la signification des choses et de leur emprise sur elles.</p>
        <p>si l’on ne tient pas compte de la méconnaissance on appellera probabilité cet effet à rebours sur la structure, probabilité qui apparaîtra dans le potentiel comme structurellement en aval pour une doctrine adéquate.
            les cadences délivrent les significations sous forme de séries qui en retour diffracteront le temps sous trois formes : le temps de la mise en mouvement, l’ébranlement, le temps du transfert, la propagation, et le temps du transport, la circulation. 
            cette diffraction engendre l’expression du réel comme fluide et comme solidaire, comme inertiel et comme plastique, comme probabiliste et comme inépuisable, en des occurrences diverses et spécifiques. 
        <br>ce temps diffracté devient le temps de l’ordre, celui qui comptera l’entropie. 
            c’est dans le sens naturel que s’effectue ce comptage qui induit le sentiment de l’ordre, mais découpé, segmenté. 
            seul, le sens naturel ne produirait que des séquences itérées mais incohérentes – c’est l’image de ce sens naturel qui se trouve dans l’inconscient. 
            le shunt, le contresens, seul, qui apporte le liant, le sentiment de continuité dans le sens naturel au point que sans lui, il n’y aurait pas d’articulation possible, ne produirait qu’une inconsistance amorphe perpétuellement extravagante. 
        <br>en effet, le sens naturel débite les séries par blocs d’impulsions. 
            ces blocs, si le contresens n’intervenait pas, iraient se perdre en sédiments résiduels, et le schéma fonctionnerait comme une pompe mécanique perpétuelle. 
            le shunt, en permettant la convolution avec les productions en sens naturel du potentiel joue le rôle d’un auto -codeur -détecteur -identificateur de la structure. 
            c’est ce nouveau produit qui sera réinjecté dans le potentiel d’où rejailliront de nouveaux blocs, conformément à la <i>physiologie</i> de la structure, assurant ainsi une balance des transformations de l’objet plus ou moins équilibrée. 
            la barrière t qui perturbe le potentiel et le transforme peut s’annuler si le quantum s’annule. 
            les corrélations qui assurent l’inséparabilité turbulente des objets font alors place à leur couplage, leur confusion ou leur stabilité. 
        <br>pour saisir le temps comme équivalent universel des événements, il faut le saisir comme équivalent universel des rapports de signaux, de leur passage du qualitatif au quantitatif. ce moment est celui où le signal réalise sa forme, c’est-à-dire s’achève. l’équivalent quantitatif de la forme achevée du signal est son énergie. c’est aussi le moment exact où le temps apparaît comme rapport immé-diat et simultané de l’énergie du signal à son entropie, moment où le signal apparaît achevé dans le champ des signaux en s’engouffrant dans la circulation interactive de ce champ avec les autres champs. 
            ce moment est celui où le réel est mesurable, c’est-à-dire le moment où le réel devient rythmique. 
            le réel spécifique du signal, son temps quantique se confrontera ainsi aux autres temps spécifiques auxquels il se comparera comme se compareront son énergie avec les autres potentiels <small class="text-muted">– créant la force –</small> et son entropie avec les autres actuels, apparaissant comme le rapport d’une impulsion à une interaction, d’une perturbation à une formation.</p>
            <p>la connaissance des lois de la nature selon certaines doctrines s’effectuera en utilisant un temps comme équivalent universel, la conscience tâchant d’accorder ces équivalents entre eux, tendant toujours vers des universaux de plus en plus intégrateurs – la conscience est un processus d’intégration. 
        <br>en physique, relativiste et quantique par exemple, c’est le temps de la propagation électromagnétique, c’est-à-dire de la lumière et de son cône de signification, qui répond à l’oeil; celui, pour la mécanique des fluides par exemple, de la célérité du son et de son cône de choc, qui répond à l’oreille; celui, pour la thermodynamique par exemple, du transfert de chaleur et de son cône eutectique, qui répond à la peau. 
        </p><p class="lead">la lumière est la monnaie de l’espace-temps capitaliste, le son et la chaleur celles de l’ordre et de l’efficacité de ce même mode de production. 
            leurs époques comme leurs propriétés, bien traduites, sont communes.</p>
        <p>un signal est le quantum d’émergence au monde du mouvement. ce quantum ne peut émerger sans faire apparaître simultanément son canal, c’est pourquoi on ne choisit pas n’importe quel canal pour transmettre n’importe quel message : il s’agit en réalité de retrouver le champ d’émergence du signal et de sa propagation. 
            c’est pourquoi aussi toute réalisation est reproductrice du réel et en est l’image. 
            en d’autres termes le réel est contenu entièrement dans chaque acte, seule l’entropie, ou plutôt la néguentropie, a changé. 
            chacun apparaissant comme un état d’un message du corps zoocial, ce qui suggère l’idée que ce corps est un système et comme tel gouvernable. 
            le temps qui naît de l’achèvement du signal est aussi le quantum des transformations. 
            de là le trouble qui s’installe pour classifier, ranger le temps, et les motifs de distinction qui s’écrivent à l’infini : temps absolu ou relatif, temps du phénomène ou du processus, temps de la forme ou de la métamorphose, temps de la consistance ou de l’évanouissement, etc. 
            c’est notamment cette double qualification du temps de la lumière qui fait de sa vitesse une constante universelle.</p>
        <p class="lead">la disparition de la monnaie et de son système zoocial d’une part, celle de la constance de la vitesse de la lumière et de son système de pensée, quantique et relativiste, d’autre part, seront contiguës. la loi sexuelle d’insuffisance s’adornera de la plastique noeudienne.</p>
    <h2>néguentropie</h2>
        <p>se détacher de ses déjections est un processus structurant à la source de la néguentropie, c’est le vrai principe anthropique. principe qui résout celui de l’inséparabilité de l’univers. 
            dans une contradiction dialectique les deux termes de la contradiction, thèse et antithèse, se fondent en une synthèse dont l’entropie est inférieure à la plus faible des deux. 
            c’est ce qui explique pourquoi l’univers <small class="text-muted">– dont l’entropie manifeste la matérialité dialectique –</small> fabrique toujours de la néguentropie. 
            <br>si la thèse est du côté <b>p-v</b>, l’antithèse est du côté <b>a-r</b>, et inversement, la synthèse dialectique est ainsi vue dans le sens du procès sens naturel en tant qu’elle est le sens naturel, le shunt étant l’abolition mutuelle des deux termes, leur destruction. 
            synthèse et destruction donnent lieu, chacune, à un zéro d’annihilation et de consolidation. 
            c’est par ce zéro que passent les recombinaisons, il est le quantum de la connaissance. 
            si l’entropie des deux termes est égale, celle de la synthèse est nulle.</p> 
        <hr>
            <p>les principes anthropique <b>a</b> et entropique <b>e</b> s’opposent. 
            vu du principe <b>a</b>, le principe <b>e</b> est matériel et mémoriel; vu du principe <b>e</b>, le principe <b>a</b> est logiciel et usuel. 
            le principe <a>a</a> est séparant et nouant, le principe <b>e</b> est confondant et corrélant. 
            celui-ci est transitionnel et recycleur, celui-là est structurel et négateur. 
            l’un l’autre se nourrissent et se pourrissent mutuellement, rien ne vit ni ne meurt : tout change, tout se transforme. 
        <br>dans le schéma complet <b>p-v/t/a-r</b>, <b>t</b> peut retirer de l’entropie <small class="text-muted">– il informe et complexifie –</small> ou ajouter de l’entropie <small class="text-muted">– il déforme ou détruit</small>. 
        ainsi, si dans le sens naturel <b>p-v/t/a-r/p-v</b> l’entropie diminue, elle augmente dans le contresens <b>p-v/ a-r</b>, et réciproquement. 
        </p><p>la critique matérialiste dialectique a été la critique de l’anthropie entropique 
            <small class="text-muted">– celle de l’humaine transformée en machine, marchandise morceau et valeur –</small>, la critique noeudienne est la critique de l’entropie anthropique – celle du travail transformé en activité sexuelle. 
            quand celle-là révèle l’objectivation relativement à la conscience zoociale, celle-ci révèle la subjectivation à l’inconscient sexuel.
            <br>les astrologues-physiciens, poussés par la conscience zoociale de l’ordre antisexuel et pour refouler, de moins en moins efficacement, l’inconscient sexuel, se sont dotés d’un principe anthropique abstrait qui convole avec une flèche du temps qui mène leur imbécillité catastrophysicienne à la mort thermique : un concept qui les porte d’un même mouvement d’un big-bang éjaculatoire et infantilement émerveillé à une fabuleuse petite mort repue et disloquée, comme s’ils ne pouvaient rêver les transformations sexuelles en dehors du mode morbide de production apoptotique capitaliste. 
            <br>les catastrophysiciens ne se demandent pas comment l’état premier de matière condensée s’est constitué 
            <small class="text-muted">– obéissant servilement aux injonctions de l’église qui craint de trouver dieue en deçà du big bang –</small> et s’il ne peut exister un modèle d’univers pour lequel le big-bang ne serait qu’un des pincements d’une oscillation éternelle de la matière, dont l’expansion passée ne serait qu’un des ventres. 
            lorsqu’une corde vibre, qu’elle soit quantique ou non, elle émet une information liée à l’impulsion 
            <small class="text-muted">– n’est-ce pas là une modalité élémentaire de la pression? –</small> du point vibratile. 
            c’est cette information qu’il s’agit de collecter pour lire l’histoire de la chose. 
            quelle information issue d’un ventre précédent passe par le pincement succédant? 
            quels potentiels et quels résiduels selon quelles transformations se forment et se suivent et qu’advient-il de leurs matérialisations? 
            il est sans conteste qu’il a fallu une décharge quelconque pour générer cet univers à partir du précédent, et que la forme de développement de ces univers est celle d’un fluide. 
        <br>voici le mode d’attaque du savoir qui s’oppose à la vidéologie scientiste fatiguée du enfin on a atteint le bout!, 
            vidéologie qui finalement fait de la physique, sans parler de ses méthodes réelles d’acquisition 
            <small class="text-muted">– économique, militaire, administrative, morale, etc. –</small> des connaissances, une doctrine morale, rejeton lointain de la magie au travers de la religion puis de la philosophie. 
        <br>la métrisation du réel ne doit son efficacité que grâce à sa parfaite cohésion avec les métamorphoses zoocioéconomiques auxquelles elle s’ajuste sans cesse et qu’elle exprime à son tour dans le cercle restreint de l’inhibition sexuelle transformée en nécessités vitales, c’est-à-dire ce par quoi l’on ne pense pas.
        </p>
        <p>l’extraordinaire contrainte zoociale qui maintient de façon permanente la science dans des limites infranchissables, tant en effectifs rapportés au corps zoocial qu’en incidences zoociologiques faibles rapportées au niveau atteint, la démasque infailliblement comme une spécialité spectaculaire du mode de production. 
        <br>il n’y a pas plus à attendre de la connaissance scientifique que de n’importe quelle pratique. 
            c’est ce fait qui, massivement, laisse le champ toujours libre à la gestion de la sexualité par la religion, sens naturel, et sa métaphore, contresens, l’art; religion et art déclinant infiniment les multiples figures et modalités de la plainte selon le schéma résiduel</p>
            
            <hr>
    <h2>jouissance et critique sont les bornes ou bords du plaisir.</h2>
        <p> exactement comme les éléments, les identifiées possèdent un spectre, quasi une jauge car peu susceptible de changement rapide et donc semblable à une signature 
        <small class="text-muted">– leur signature sexuelle –</small>, constitué d’un ensemble discontinu de raies d’interférences amoureuses disposées sur l’échelle jouissance-critique et formant sa personnalité. cette échelle représente tout autant l’échelle des névroses. 
        les raies disposées vers la borne critique sont celles du sens naturel, là où le surmoi tend à se polariser et où le moi tend à s’identifier au surmoi; celles disposées vers la borne jouissance sont celles du contresens, là où l’inconscient sexuel tend à se sublimer et à s’identifier à la mort. 
        <br>le schéma résiduel indique qu’il ne peut y avoir que deux sortes d’identifiées qui coexistent : celle qui représente une insertion particulière dans le surmoi, celle qui s’extrait du surmoi. 
        mais puisque le virtuel est constitué du caractère collectif, les deux sortes d’identifiées participent simultanément à ce virtuel, par repotentialisation dans le sens naturel. 
        les mystiques qui participent du contresens <b>p-r</b>, rencontrent le surmoi comme antécédent sens naturel, puisque le potentiel était déjà constitué, en étant modérées au passage par la transformation qui les transporte dans le virtuel qui alimentera le sens naturel par repassage par la phase transformation. 
        tout ceci ressemble au mouvement d’un liquide pendulaire, aux oscillations plus ou moins amorties, avec la différence essentielle que la masse de ce pendule semble disparaître pour réapparaître comme une autre masse éventuellement égale.</p>
    </div>
    <div class="col-sm-2">
        <div class="float-end ">
            <table class="table table-bordered mt-5">
                <tbody>
                <tr>
                    <td scope= "row">potentiel</td>
                    <td><i>jouissance</i> ou <b>critique</b></td>
                </tr>
                <tr>
                    <td scope= "row">virtuel</td>
                    <td><i>caractère plus ou moins collectif de l’acte</i></td>
                </tr>
                <tr>
                    <td scope= "row">transformation</td>
                    <td>rituel ou acte</td>
                    
                </tr>
                <tr>
                    <td scope= "row">actuel</td>
                    <td >réaction de la masse</td>
                </tr>
                <tr>
                    <td scope= "row">résiduel</td>
                    <td >réaction individuelle</td>
                </tr>                  
                </tbody>
            </table>
        </div>
    </div>
</div>


