h1 {
    color:red; background-color: rgb(188, 188, 228);
}
nav{
     background-color: black;
    }
a {
    border-color: white;
    border: red;
    background-color: white;
    border-radius: 3px;
    padding: 5px;

}