<header>
    <app-boutonformulaire>formulaire</app-boutonformulaire><a href="https://www.paypal.com/paypalme/fredfichant ">faire une donation</a><app-header></app-header>
</header>
<nav class="navbar navbar-light bg-light justify-content-center rounded">
    <a class="navbar-brand" href="#">
      <img src="assets\ICON\icons\house-door.svg">
      les nœuds rares - why knot ?
    </a>
  
    <app-plastique class= "nav-item mx-1"></app-plastique>

    <app-tutoriel class= "nav-item mx-1"></app-tutoriel>

    <app-boutoninvestigations class= "nav-item mx-1"></app-boutoninvestigations>

    <app-tables class= "nav-item mx-1"></app-tables>

    <app-ouvriere class= "nav-item mx-1"></app-ouvriere>

    <app-lexique class= "nav-item mx-1"></app-lexique>
            
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<footer class="text-center" style="background-color: darkcyan;">
    footer
</footer>
