<h1 class=" fs-2 text-center">constructions <strong>nœudiennes</strong><span class="badge bg-secondary mx-3 my-3">tables des 7 croisements</span></h1>
<div class="row">
    <div class="col-sm-1">
      <nav class="nav flex-sm-column nav-justified" >
         <app-table6 class="nav-item mb-3 mt-3"></app-table6>
        <app-table7 class="nav-item mb-3"></app-table7>
        <app-table8 class="nav-item mb-3"></app-table8>
        <app-table9 class="nav-item mb-3"></app-table9>
        <app-table10 class="nav-item mb-3"></app-table10>
        <app-table11 class="nav-item mb-3"></app-table11>
        <app-table12 class="nav-item mb-3"></app-table12>
        <app-table13 class="nav-item mb-3"></app-table13>
        <app-table14 class="nav-item mb-3"></app-table14>
        <app-table15 class="nav-item mb-3"></app-table15>
      </nav>
    </div>
    <div class="col-sm-8">
      <div class="d-flex flex-row justify-content-center text-center">
      <figure class="  img-hover-zoom overflow-visible">
        <img src= 'assets\SVG\c=7\amas7-2R.svg' style="width: 70%;">
      
      <figcaption>amas 7A</figcaption></figure>
      <figure class=" img-hover-zoom overflow-visible">
        <img src= 'assets\SVG\c=7\ama7justgraf.svg' style="width: 80%;">
      
      <figcaption>amas 7B - [todo] restituer les états</figcaption></figure>
      
    </div>
  </div>
  <div class= "col-sm-3">
    <p><strong>remarque</strong>il n'y a pas de noeud racine à 7 croisements</p>
  </div>
</div>

