<h1 class=" fs-2 text-center border1">la voie nœudienne<span class="badge bg-secondary mx-3 my-3">la dame à la clitorne</span></h1>
<div class="row">
    <div class="col-sm-2">
      <nav class="nav flex-sm-column nav-justified border1 " style="background-color: darkorchid;">
        <app-boutonclitorne class="nav-item mt-3 mb-3"></app-boutonclitorne>
         
      </nav>
    </div>
    
    
    <div class="col-sm-8">
        <p>vocabulaire : une tenture est un ensemble composé de plusieurs tapisseries sur le même sujet.
        <br>exemple : <cite>la dame à la licorne, composée de six tapisseries, laine et soie,  au musée national de cluny, paris</cite>
        </p>
        <h2>autosexualité virginale féminine, et homomâle</h2>
            <h3>licorne, et lion</h3>
                <p>la licorne figure la virginité, la chasteté.
                elle est au fantastique dessexualisé féminin ce que le cheval est au réel homosexuel mâle. 
                il n’y a de licorne que femelle pucelle, elle est l’ho-momaternel symbole médiéval de la virginité.
                sa corne, portée comme une couronne tournée, un hennin hélicé, clef des célestes jardins, est le clitoris magnifié et divinement intouchable, la clitorne 
                <small class="text-muted">– les religieuses ne portent-elles pas la cornette?, ce voile islaméen tout à la fois indice et bouclier de leur immaculable virginité – </small>
                ce pourquoi chacune la poursuit, pour des raisons opposées : les filles, car elle les rassure de sa vitalité, de sa puissance et de son inaccessibilité autosexuelle en son jardin secret, image composite, 
                chrétienne et hellène, de diane et marie que nul ne saurait surprendre en leur bain, jusqu’au dernier sommeil pour marie; 
                les garçons, qu’elle commet en chasseurs éternellement bredouilles que leur horreur du sexe de la femme, 
                tels de volontaires actéons transformés non pas en cerfs mais, par la grâce complaisante des femmes en lions superbes et généreux 
                – comme le clame christine de pisan nature de femme est débonnaire –, fascine et méduse.
                <br>alors que les femmes apparaissent iconiquement sur ces tapisseries, une seule femme dans deux et deux femmes dans les quatre autres,</p>
                <div class="text-center" >
                <img src="assets\SVG\licorne\licorne.png" class="img-fluid">
                <p>fig. I ; photos 1,2,3,4,5,6 des six tapisseries</p>
                </div> 
                <p>alors qu’elles apparaissent comme indicées par la licorne à travers toute la tenture, les homomâles n’interviennent que comme servants animaux, faisant pendants naturalistes à l’imagynaire féminin.
                à l’aide de la photographie nous pouvons disposer ces six tapisseries en un pentagone, rappelé comiquement des cinq sens, au centre duquel se place celle à mon seul désir.</p>
                <div class="text-center img-hover-zoom">
                <img src="assets\SVG\licorne\714pxamonseuldesir.jpg" class="img-fluid">
                fig II</div> 
                <p>celle-ci, qui prend manifestement la place du sixième sens, le sensuel du plaisir (le <i>génésique</i> de <em>brillat-savarin</em>) , épars à travers le corps et dont l’organe singulier est le clitoris, perd ainsi de son mi-s’taire parmi les autres, 
                et réunit tous les éléments de la mise en scène de l’autohomo-sexualité féminine répartie distinctement à travers les cinq autres. la complexité de la nuée homosexuelle féminine, 
                dont cette tenture est une authentique apologie et ce qui en fait le prix 
                <small class="text-muted"> – car seules les oeuvres à haut contenu homosexuel saisissent et sont affublées du nom d’immortelles –</small> , 
                est éployée en un amas de ses six états reliés entre eux par leurs régulières métamorphoses</p>
                <p>que la licorne fût l’indice de la dame est montré dans la tapisserie dite la vue, où se reflète exclusivement la face de la licorne dans le miroir que tient d’une main la dame. dans cette tapisserie dame et licorne font comme une narcissique puisque, 
                outre le reflet de l’une pour l’autre – car qui voit qui? –, le lion à l’écart et ne regardant pas – comme l’a aperçu <em>rilke</em>. 
                il eut pu citer brantôme qui écrira un jubilé plus tard
                <p class="fst-italic text-center">   estourneau, je ne puis aimer une pucelle
                <br>qui foiblette ne peut encor’ le joug porter </p>–, 
                <p>elles s’enlacent, la dame assise, sa première robe relevée en son giron sur lequel la licorne appuie ses pattes de devant pendant que la dame caresse sa crinière de sa main libre. 
                <div class="text-center img-hover-zoom" >
                    <img src="assets\SVG\licorne\vue.png" class="img-fluid" :hover>
                fig. III; photo 1
                </div> 
                <div class="text-center img-hover-zoom">
                <img src="assets\SVG\licorne\564px_Le_Toucher.jpg" class="img-fluid">
                fig. IV; photo 2
                </div> 
                <p>aussi dans la tapisserie dite le toucher, maintenant accessible au regard comme masturbatoire, puisqu’à la fois la dame tient d’une main la corne, symbole de son clitoris, et la hampe d’une bannière aux trois croissants de lune, symbole de l’érection. c’est la seconde tapisserie dans laquelle le lion détourne la face. 
                ces deux tapisseries font donc tenture de l’autosexualité féminine préservée aux abords de l’homosexe mâle.
                <br>ce sont aussi les deux seules tapisseries où dame et licorne se touchent et qui ne possèdent qu’une bannière.
                fig.V ; photos 1 et 2</p>
                <div class="text-center img-hover-zoom">
                <img src="assets\SVG\licorne\456px-Louie.jpg" class="img-fluid">fig.VI; photo 3
                </div>
            
                <p> lapsus tissu, à propos du motif des trois croissants de lune, apparaît sur la tapisserie dite l’ouïe et voit sa contrepartie en l’écu que tient le lion dans la tapisserie dite l’odorat; la bannière que tient la licorne est inversée : les trois croissants sont partout ailleurs orientés de la même manière, pointes et faces concaves dirigées vers la hampe et son sommet selon la diagonale principale du drapeau, 
                ici ce sont les faces convexes qui sont ainsi orientées et selon la diagonale secondaire du drapeau, 
                bien que par artifice tous ces motifs sont invariablement dirigés vers le nord-ouest, haut-gauche, des six tapisseries.
                </p>
                <div class="text-center img-hover-zoom">
                <img src="assets\SVG\licorne\498pxLOdorat.jpg" class="img-fluid">fig. VII; photos 3 et 4
                </div> 
                <p> cette torsion d’un motif mise au service de l’invariance de la direction générale dit le refoulement réductible inter-homosexuel de ce que la dame devra dire et entendre au moment de l’abandon de sa vierge autosexualité dans l’obligation de l’intersexualité.
                cette tenture est connue comme cadeau de fiançailles à la fiancée, les armoiries des trois croissants étant celles du fiancé, le français jean le viste, bourgeois ennobli comme l’étaient les strozzi dont il semble que le même motif ornât la famille qui se mit au service de la france à la même époque. 
                ce motif est encore celui de la famille des condé, leurs contemporains, pour laquelle il se présente comme un noeud borroméen – encore appelé vires – dont les trois ronds sont incomplets, à mi chemin des précédents et du noeud trouvé chez les borromeo – devenu ainsi le beau roméo – tissu de la trinité-unité telle qu’un manuscrit de chartres daté de 1355 la représentait.
                sur les quatre tapisseries dans lesquelles apparaissent deux femmes, celles-ci sont reliées par un objet que tend la plus petite – dame de compagnie que la perspective relationnelle médiévale montre hiérarchiquement plus petite, ou petite soeur? –, à la dame, image sans doute de la pratique homosexuelle de celle-ci en son gynécée, 
                voire sororalement incestueuse, l’inceste homosexuel étant chose répandue en toute époque. 
                la première robe est relevée comme dans la tapisserie dite la vue, devant pour la dame, derrière pour sa compagne dans la tapisserie dite l’odorat, et pour la dame seule dans la tapisserie à mon seul désir.</p>
                
                <div class="text-center img-hover-zoom">
                    <img src="assets\SVG\licorne\721px_Le_Goût.jpg" class="img-fluid">
                    fig. VIII; photo 5
                </div> 
                <div>fig. IX; photo a</div> 
                <p>cette tapisserie montre une tente, lieu vulvaire et symbole de la pénétration, ouverte comme est représentée la tunique, petite paire de lèvres, 
                de la miséricordieuse vierge marie, et dont les pans écartés – comme grande paire de lèvres –, sont tenus par le lion et la licorne, à l’image de <cite>la madona del parto</cite>, datant de la même époque, de <em>piero della francesca</em>, où l’on voit la madone poser une main sur une fente rose de son manteau bleu devant une tente dont les pans écartés – comme grande paire de lèvres –, 
                sont tenus par deux anges dont nous savons désormais, depuis l’annonciation, que le sexe est la bouche.</p>
                <div>fig IX; photo b</div> 
                <p>rose qu’on retrouve pour l’intérieur de la tente de la tapisserie et bleu pour l’extérieur. 
                cette tente ouverte en présence de sa compagne, de l’imagynaire licorne et du lion dit assez que cette tapisserie offre la transition entre la fin de l’autohomosexualité active de la dame, et la prochaine inter-homosexualité. 
                pour ce faire, elle tire d’un coffret à bijoux que lui tient sa compagne, un linge.
                la tapisserie dite le goût est la seule où la dame, touchant d’une main, trempant un doigt?, l’objet que lui présente sa compagne, un liquide dans un vase, offre l’autre main à un animal, un petit oiseau qui se pose ou prêt à s’envoler, ce qui semble clore la série, cet animal pouvant simultanément représenter la vulve et la verge.
                </p>
                <p>écoutons encore <em>brantôme</em></p>
                <p class="fst-italic text-center">femmes qui transformez vos marys en oiseaux
                <br >ne vous en lassez point, la forme en est tres-belle
                <br >car si vous les laissez en leurs premieres peaux
                <br >ils voudront vous tenir tousjours en curatelle
                <br >comme hommes ils voudront user de leur puissance
                <br >au lieu qu’estant oiseaux ne vous feront d’offense</p>
                <div>fig. XI; photo 6</div> 
                <p>clore signifie ici que la série des six tapisseries peut se lire topologiquement comme une ligne qu’un chemin parcourt d’une image à une autre, dans les deux sens, en prenant comme guide de lecture la bascule qui s’effectue entre les faces de la licorne et du lion et leur participation apparente à l’action, ce qui donne le parcours suivant :
                1 - la vue; 2 - le toucher; 3 - l’ouïe; 4 - l’odorat; 5 - à mon seul désir; 6 - le goût; ou le parcours inverse.
                </p>
                <div class="text-center img-hover-zoom">
                    <img src="assets\SVG\licorne\lions.jpg" class="img-fluid">
                fig. XII ; photos 1,2,3,4,5,6</div> 
                <p>pour s’en convaincre il suffit de regarder le changement d’attitudes du lion qui passe sensiblement du détournement du regard dans la vue à l’exultation la plus démonstrative dans le goût, alors que dans le même temps c’est du symétrique détournement inverse de la licorne qu’il s’agit, comme de l’imagynaire autosexuel vaincu ou éduqué; de la plus grande accointance dans la vue à la distance académique dans le goût où la mise en scène est une majesté. 
                cette tenture eut pu s’intituler allégorie du plaisir féminin, représentation théâtrale métaphorique répondant à la géographie sexuelle des cartes du tendre, lointain écho du roman de la rose, à l’enseigne des blasons, blasons du corps féminin, genre fort prisé à l’époque.
        <hr>    
        <h2>les pulsions sexuelles - singes et signes</h2> 
            <div class="text-center img-hover-zoom">
                <img src="assets\SVG\licorne\singes.jpg" class="img-fluid my-3">
            </div>
            <p>le nombre, les mouvements et positions des singes – l’en-l’île, l’hors-de-l’île – offrent à la critique noeudienne leur topologie de motifs maillés, tissage des pulsions sexuelles aux noeuds de l’hymen.
            <br>dans la tapisserie dite la vue, la première donc de notre série, à la frange du bas, un singe montre plus que le bout de son nez. sa tête entière émerge du néant, pour apparaître hors de l’île de la dame, cependant.
            <br>dans la tapisserie dite le toucher, la deuxième donc de notre série, deux singes hors l’île de la dame encore, se tiennent l’un au-dessus du lion, image du mâle, l’autre au-dessus de la dame comme pour confronter leurs sexualités : 
            celle-là encore enchaînée avant le déchaînement futur, celle-ci ceinturée comme pour signifier cette frontière entre l’aliénation et la liberté.
            <br>dans la tapisserie dite l’ouïe, la troisième de notre série, plus de singe! mais aussi c’est la seule tapisserie dans laquelle l’île de la dame 
            <small class="text-muted">– catastrophe topologique! –</small>  est incomplète aux deux extrémités de son grand diamètre, comme ouverte offerte....
            <br>en effet, dans la tapisserie dite l’odorat, l’île est à nouveau complète – réparée refermée? – 
            avec le singe dedans qui s’offre un geste familier, sentir une fleur 
            <small class="text-muted">– mais au moyen-âge ne nommait-on pas fleurs les sangs et les parties génitales féminines? –</small>,
            comme si la pulsion sexuelle que le singe représente 
            <small class="text-muted">– comme c’est le cas dans nombres cultures –</small>, reniflait, allait à la découverte précise de la sexualité de la dame, com-me promesse de la déflorer. 
            c’est bien la première tapisserie où le lion ose regarder la dame! 
            les signes que les doigts de celle-ci dessinent, comme un langage codé, sont une invite sexuelle qu’on lirait dans un médiéval kama soutra occidental, où le désir brutal de l’homme de ce temps se raffinerait au contact de la vulvarité (vulvarité guérit de la vulgarité).
            <br>dans la tapisserie où s’écrit, comme une affirmation assurée, à mon seul désir, la cinquième et avant-dernière donc de notre série, le singe est accroupi en une attitude expectative alors que le lion ouvre les lèvres – la tente – de la dame, comme si la pulsion sexuelle était encore à faire le guet prête à se satisfaire....
            ou comme pour résonner à la <em>christine de pisan</em> de jeux à vendre le 15e répondait par le jeu
            </p>
            <p class="fst-italic text-center " >si vous avez la motte prinse
            <br>quarante-cinq lors se présente
            <br>mais si vous mettez en la fente
            <br>...
            <br>vous gagnez le jeu tout entier.</p>
            <p>dans la dernière tapisserie dite le goût, la pulsion enfin satisfaite est installée familièrement dans l’île.
            cette histoire de la pulsion sexuelle redouble donc celle qui fut énoncée de la bascule des regards et attitudes du lion et de la licorne. 
            d’autres histoires encore redoubleraient celles-ci : l’histoire de la prédation où proies et prédateurs verraient leurs convolutions tissées crescendo, 
            celle de la passation des signes de lignage 
            – comme <em>howard bloch</em> l’étudie en son étymologie et généalogie, etc., et puis d’autres....</p>


