<h1 class=" fs-2 text-center"><img src="assets\ICON\pencil.svg" style="width: 2em ">dessiner des amas<span class="badge bg-secondary mx-3 my-3">formule particulaire</span></h1>
<div class="row">
    <div class="col-sm-2">    
        <nav class="nav flex-sm-column nav-justified" style='background-color: rgb(102, 141, 173);'>
            <app-boutonamas class="nav-item mt-3 mb-3"></app-boutonamas>
            <app-boutonmetamorphose class="nav-item  mb-3"></app-boutonmetamorphose>
            <app-boutonombre class="nav-item mb-3"></app-boutonombre>
            <app-boutongraphe class="nav-item mb-3"></app-boutongraphe>
            <app-boutonrarete class="nav-item mb-3"></app-boutonrarete>
            <app-boutonformule class="nav-item mb-3"></app-boutonformule>
            <app-boutonmutation class="nav-item mb-3"></app-boutonmutation>
        </nav>  
        
    </div>
    
    <div class="col-sm-7">

     <h2>formule particulaire</h2>   
        <p class='lead'>
            la formule particulaire permet de représenter les motifs de métamorphose d'un état métamorphosable, à la façon des chimistes.</p>
            <p>à partir du graphe orné, nous assignons une lettre à chaque type de motif métamorphosable, 
    en tenant compte de plus du fait qu'un motif de métamorphose peut apparaître sur le graphe comme motif sommet, 
    en indice "s", ou motif face, en indice "f" :</p>
        <ul>
            <li> k pour le coin : ks et kf</li>
            <li> a pour l'agrafe : as et af • p pour la permutation : ps et pf • etc...</li>
        </ul>
            <figure>
                <img src="assets\SVG\formule\formuleP.svg" class="card-img-top">
                    <figcaption>formule particulaire</figcaption>
            
            </figure>
        <p>la formule particulaire est une formule "chimique" de superposition des motifs de métamorphoses, 
    "superposition" étant entendu ici à la "schrödinger" : deux motifs s'inhibent l'un l'autre s'ils ont des croisements communs,
    au moins un. 
    <br>la formule particulaire représentera ces arêtes communes aux différents motifs par autant de traits reliant les motifs qu'ils ont d'arêtes en commun. 
    on peut la représenter aussi sous forme d'une matrice d'incidence. 
    <br>il y a indétermination de la métamorphose active et donc juxtaposition des deux états.
    en pratique, on dessinera arbitrairement un état puis l'autre (dessins????).
    <br> 
    sur les graphes de connexités ornés cela se montrera par des arêtes communes. 
    chacun des motifs représentant un montage topologique bâti + motif spécifique. 
    deux états ne s'inhibant pas, sont dits simplement additifs : les métamorphoses peuvent s'effectuer simultanément.</p>
    <p>
    appliquons ce que nous venons de dire à nos schémas ci-dessus : 
    nous tirons du dessin de l'état un graphe de connexité orné. 
    puisque le graphe de connexité est une image exacte de l'état, les arêtes du graphe représentent les croisements de l'état avec leurs ornures, 
    les sommets et les faces représentent les zones flexibles de l'état. 
    les motifs de métamorphoses sont donc intégralement représentés dans le graphe. 
    dans l'exemple, il y a quatre motifs, tous des retournements de coins, trois coins retournables sommets et un coin retournable face. 
    les trois coins retournables "sommets" sont désignés par les symboles ks1, ks2 et ks3, le coin "face" est désigné par kf. 
    la formule particulaire montre donc, d'un seul coup d'oeil, la simultanéité ou non des métamorphoses : ks1, ks2 et kf sont chacun inhibant pour les deux autres, c'est la loi du OU EXCLUSIF :
    OU ks1 SEUL OU ks2 SEUL OU kf SEUL accompagné éventuellement ("additif") par ks3. 
    cette "grappe" de trois motifs est additive avec le motif ks3; en effet, ce motif peut s'effectuer simultanément avec un seul quelconque des trois autres. quatre motifs, trois possibilités seulement d'effectuation de deux motifs ensemble. 
    voir #chemins dans l'amas.</p>>
    <figure >
        <img src="assets\SVG\formule\formuleP2.svg"> 
            <figcaption>4 motifs</figcaption>
    
    </figure>
    
    <p>la matrice d'incidence est (dessin). 
    la superposition des motifs entraîne de plus la non commutativité des métamorphoses; 
    en effet, lorsqu'une métamorphose d'une telle "grappe" est effectuée, le reste des métamorphoses de la "grappe" est "perdu". 
    la "succession" de motifs nœudiens superposés n'a aucun sens car ne possédant aucune réalité "physique"; 
    la non commutativité est donc effet de la superposition.<br> 
    soient les deux métamorphoses superposées m1 et m2, si l'on veut effectuer m2 après m1 il faut involuer m1 pour réobtenir l'état de départ puis effectuer m2;
    m1 ayant été effectuée m2 a été "perdue", de l'état obtenu après métamorphose m1 il faut effectuer m1~ ce qui nous ramène à l'état de départ et effectuer finalement m2. 
    on peut écrire la succession des événements ainsi : ηinitial, m1 OU m2, si m1, m1(ηinitial) = η1 puis m1~(η1) = ηinitial puis m2(ηinitial) = η2. 
    voici une monstration simple du fait (dessins)<br>
    exercice: choisissez un état de nœud non alterné, repérez ses motifs de métamophoses, puis dessinez les états obtenus.</p>

<h2>filmer les métamorphoses</h2>
    
<p> nous décomposons, image par image, le retournement du coin. </p>
    <figure >
        <img src="assets\SVG\formule\grafemetafilm.svg">
            <figcaption>images du film</figcaption>
    
    </figure>
    <p>à partir d'un graphe de connexité complet, nous détachons le motif de métamorphose, le coin retournable k , de son bâti spécifique b<sub>k</sub>. 
    à ce stade, nous pouvons donc écrire η = b<sub>k</sub> + k (voir plus haut : i : dessiner un amas..., – (5°)). la suite des opérations s'effectue ainsi (dessins): 
    nous séparons b<sub>k</sub> et k ; le bâti b<sub>k</sub> est invariant par retournement, nous effectuons le retournement du coin ce qui nous fournit k~ que nous raccrochons au bâti b<sub>k</sub> , 
    opération qui nous fournit η~ = b<sub>k</sub> + k~ , où "+" est la soudure topologique.<br> 
    le déroulement des opérations se schématise donc ainsi :<br> 
    (1) η = b<sub>k</sub> + k , (2) η − k = b<sub>k</sub> , (3) ret(k) = k~ , (4) k~ + b<sub>k</sub> = η~. 
    <br>nous pouvons encore symboliser cette suite opératoire, en utilisant le différentiel δk~,k = k~ − k : η~ = η + δk~,k. 
    <br>le différentiel étant relatif à la métamorphose d'état, n'est pas commutable : δk~,k "vu" de l'état η est différent de δk,k~ "vu" de η~. 
    nous étudions cela plus en détail dans "transitions nœudiennes".</p>