<div class="row">
    <div class="col-sm-2">
        <nav class="nav flex-sm-column nav-justified " style="background-color: rgb(125, 252, 7);">
            <app-boutonpsy class= 'nav-item mt-3 mb-3'>psychanalyse</app-boutonpsy>
            <app-boutonclitorne class= 'nav-item mb-3'>la dame à la clitorne</app-boutonclitorne>
            
        </nav>
    </div>
    <div class="col-sm-8">
            <p><cite>La cure n’est pas le vidage d’un sac de signifiants jusqu’au dernier, c’est plutôt le démêlement d’un noeud embrouillé, il s’agit de défaire les faux nouages responsables éventuellement d’autant d’effets : symptômes, inhibitions, angoisses, jusqu’à rencontrer le noeud irréductible de structure .
            <em>lacan</em></cite></p>
                <img src="">
                <div class="row">
                    <p>métaphores, métonymies et autres références mythologiques du R.S.I  </p>
                    <div class="col-sm-3"><p>réel</p>
                    </div>
                    <div class="col-sm-3">
                        <p>imaginaire</p>

                    </div>
                    <div class="col-sm-3">
                        <p>symbolique</p>
                    </div>
                    <div class="col-sm-3">
                        <p>symyhôme</p>
                    </div>
                </div>
    </div>
</div>