<h1>investigations nœudiennes<span class="badge bg-secondary mx-3 my-3">spin <small>système de production icsografique des nœuds</small> </span></h1> 
<div class="row">
    <div class="col-sm-2">
      <nav class="nav flex-sm-column nav-justified " style="background-color: rgb(207, 240, 175);">
          <app-boutontresse class= 'nav-item mt-3 mb-3'>tresses</app-boutontresse>
          <app-boutoncode class= 'nav-item mb-3'>codages</app-boutoncode>
          <app-bouton-croisement class="nav-item mb-3">croisements</app-bouton-croisement>
          <app-bouton-transition class= 'nav-item mb-3'>transitions</app-bouton-transition>
          <app-boutonape class= 'nav-item mb-3'>ape</app-boutonape>
          <app-boutonspin class= 'nav-item mb-3'></app-boutonspin>
          <app-boutonautomate class= 'nav-item mb-3'></app-boutonautomate>
          <app-boutontables class= 'nav-item mb-3'></app-boutontables>
      </nav>
      </div>
    <div class="col-sm-8">

            <p>nous avons les consignes suivantes :<br>
            f (faisceau) : à ɔ——c nous faisons correspondre<br>
            r (ribambelle) : à ɔ——c nous faisons correspondre ɔ——o——c<br>
            L (link) : à ɔ——o——c nous faisons correspondre<br>
            </p>
            <img src="assets\SVG\investigations\combingrafs.svg" class="img-fluid">

        <h2>les graphes ornés, extension</h2>
            <p>les graphes que nous pratiquons sont les graphes des nœuds premiers. 
            pour cela nous les nommons graphes premiers. 
            nous avons appris (voir #graphes ornés) à dessiner un état à partir de n'importe quel graphe de nœud premier.
            ajoutons que cela est vrai, avec la même procédure, pour n'importe quel graphe, qu'il soit premier ou non, l'orientation d'un graphe n'est pas pertinente pour la nœudienne. 
            nous énonçons, sachant que la valence d'une arête est le nombre de sommets auxquels elle se conjoint, 0, 1 ou 2 
            <small class="text-muted">en fait, pour nous en plastique nœudienne, c'est toujours 2</small>
            et réciproquement la valence d'un sommet est le nombre d'arêtes qu'il reçoit 
            <small class="text-muted">de 0 à très très grand; en fait, pour nous en plastique nœudienne, c'est toujours ≥ 2</small> : 
            à partir de n'importe quel graphe fermé 
            <small class="text-muted">c'est-à-dire sans arête ou sommet de valence inférieur à 2</small>
            nous pouvons dessiner la racine d'un métabole. cette loi nous permet de composer combinatoire des graphes et génération de nœuds : en théorie combinatoire des graphes on peut se poser la question combien de graphes fermés peut-on fabriquer avec a arêtes et s sommets ?, 
            sachant que parmi tous les graphes possibles certains représentent des paires duales, c'est-à-dire représentent le même nœud, d'autres sont autoduaux. en fait, cette loi est universelle : à partir de n'importe quel graphe, premier ou non, fermé ou non, même de débris de graphe, il est possible de dessiner une ombre, un nœud trivial ou un fragment, croisé ou non, de "ficelle". 
            par exemple un sommet isolé permet de dessiner une ombre, celle d'un rond sans croisement, un non nœud donc. 
            ce pourquoi les mathématicien.ne.s ont inconsciemment attribué à ce rond sans croisement le titre de nœud trivial, car pour elles et eux les nœuds sont des objets compliqués alors qu'ils représentent pour la plastique nœudienne le paradigme même de la complexité et du nouage, dessinables et accessibles.
            d'autres exemples du ratage mathématique de la structure nœudienne sont fournis par une arête isolée, graphe d'un croisement isolé, par un sommet et une arête graphe d'une bouclette, ou encore par deux sommets conjoints par une arête qui forment le graphe d'un tortillon, etc...etc.(dessins)</p>>
        <h2>exemple à partir de la 1ère orbitale de l'entier 6</h2>
            <p>les configurations possibles à 3 croisements n'offrant guère de possibilités combinatoires, 
            nous passons directement à la première orbitale de l'orbite de 6 dont nous accompagnons chaque partage de ses configurations possibles et des constructions nœudiennes qui s'en déduisent, dont se forment les graphes de connexité des nœuds suivants. 
            nous savons, en effet, voir à présent directement les compositions graphiques correspondantes et effectuons sans a priori la combinatoire des graphes possibles pour chaque partage. remarque. il est toujours possible de lier 6 arêtes en un seul faisceau ou en une seule, duale, ribambelle fermée 
            <small class="text-muted">dans les deux cas cela revient au même nœud n-centre correspondant aux n unités de l'entier considéré</small>, 
            or comme nous voulons faire apparaître les différences au sein de et entre chaque partage, nous excluons a fortiori cette possibilité lorsque d'autres s'offrent. 
            l'orbitale w0 est :</p>
    </div>
    </div>
