<h1 class ="text-center" >glosario de nodos raros</h1>
    
    <div class="row">
        <div class="col-sm-2">international glossaries    
    
            <nav class="nav flex-sm-column nav-justified " style="background-color: rgb(163, 146, 172);">
      
                <app-buttonarabe class= "nav-item mt-3"></app-buttonarabe>
                <app-buttonespagnol class= "nav-item mt-3"></app-buttonespagnol>  
                <app-buttonitalien class= "nav-item mt-3"></app-buttonitalien> 
                <app-buttonenglish class= "nav-item mt-3"></app-buttonenglish>
                <app-buttonrusse class= "nav-item mt-3 mb-3"></app-buttonrusse>
                </nav>  
        </div>
        
        <div class="col-sm-10">
        </div>
    </div>
