<h1 class='text-center text-success'><i>investigations</i> <mark>nœudiennes</mark></h1>

<div class="row">
  <div class="col-sm-2 ">
    <nav class="nav flex-sm-column nav-justified border1" style="background-color: rgb(125, 252, 7);">
      
      <app-boutontresse class= 'nav-item mt-3 mb-3'>tresses</app-boutontresse>
      <app-boutoncode class= 'nav-item mb-3'>codages</app-boutoncode>
      <app-bouton-croisement class="nav-item mb-3">croisements</app-bouton-croisement>
      <app-bouton-transition class= 'nav-item mb-3'>transitions</app-bouton-transition>
      <app-boutonape class= 'nav-item mb-3'>ape</app-boutonape>
      <app-boutonspin class= 'nav-item mb-3'></app-boutonspin>
      <app-boutonautomate class= 'nav-item mb-3'></app-boutonautomate>
      <app-boutontables class= 'nav-item mb-3'></app-boutontables>
    </nav>
  </div>
    
  <div class="col-sm-8">
      <h2 class="text-center">constructions nœudiennes</h2>
        <p>elles n'utilisent la chirurgie qu'afin de mettre en évidence l'homotonie nœudienne qui déploie sa topologie constructive à partir des opérateurs structuraux nœudiens; 
        à partir aussi des locations diverses, dé-, co- et trans-, et aussi des algorithmes ape' et spin, pour "algorithme de partition d'un entier" et "système de production icsografique des nœuds". 
        les tresses et les surfaces de seifert auxquelles elles correspondent sont étudiées selon les paramètres nœudiens. 
        peuvent servir de matrice symbolique à la pensée biologique.<br>
        curiosités : tissages des états (en hommage à andré leroi-gourhan).
      </p>
  </div>
  <div class="col-sm-2">

  </div>
</div>