mark
{
    font-style :italic ;
    color: red;
    text-shadow: 3px 1px seagreen;
 }
 h1 {border-radius: 1rem;
    border-top: 2px dotted rebeccapurple;
    border-bottom: 1em solid rgb(24, 163, 78);
  }
  .border1 {
     border-radius: 1em;
  }