
h1 {

  background-color: rgb(102, 141, 173);
}

h2 {
  background-color: rgb(204, 6, 243);
  color: white;
  text-align: center;
  border-radius: 1em;
}
p {
  text-indent: -2em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: justify;
}
mark {
  color: blueviolet;
  font-weight: bold;
}
em {
  font-style: oblique;
  color:crimson
}
cite {
  font-style: oblique;
  color: purple
}
.border1 {
  border-radius: 1em;
}
