<h1 class=" fs-2 text-center border1">whyKnot<span class="badge bg-secondary mx-3 my-3">knot past</span></h1>
<div class="row align-items-start">
    <div class="col-sm-2">
        <nav class="nav flex-column nav-justified border1" style='background-color: rgb(110, 83, 104);'>
            <app-boutonknotpast class= 'nav-item mt-3 mb-3'></app-boutonknotpast>
            <app-boutonknotfutur class= 'nav-item   mb-3'></app-boutonknotfutur>
            <app-boutoninvitation class= 'nav-item  mb-3'></app-boutoninvitation>
            <app-boutonknotnow class= 'nav-item  mb-3'></app-boutonknotnow>
        </nav>
    </div>
    <div class="col-sm-7">
        <p class="lead"><mark>la fausse position de la plastique des nœuds rares entre topologie et psychanalyse</mark> est comme celle de la lumière entre les conceptions corpusculaire et ondulatoire. 
        le défaut tient à l’inertie de ces fausses perspectives alliées, comme <em>goethe</em> le décelait dans son <cite>traité des couleurs</cite>.</p>
        <p>
        la plastique des nœuds rares a pris son départ <small class="text-muted" >- et s’est départie –</small>  de l’alliance établie par <em>lacan</em> entre psychanalyse et topologie, 
        comme la psychanalyse s’était issue <small class="text-muted">– et séparée –</small> de l’alliance établie par <em>charcot</em> entre médecine et hystérie.<br> 
        ce que monsieur lacan et ses fidèles topologistes <small class="text-muted">– messieurs <em>thomé</em> et <em>soury</em>  –</small> ont dit des nœuds vaut ce que monsieur charcot et ses élèves ont dit de la sexualité.<br> 
        ce peu, ce rien était l’affleurement du sexuel inconscient et du nouage qui cherchaient quelques points faibles pour traverser.<br>
        ce que la plastique des nœuds rares tient des manipulations topologiques lacaniennes vaut ce que la psychanalyse tire des pratiques hypnotiques médicales.<br> 
        la psychanalyse a émergé en abandonnant, par radicalisation, le traitement cathartique inauguré par breuer tandis que la plastique des nœuds rares a pris son envol en abandonnant, 
        par extrémisme, le principe de la pratique dessinée de la topologie entretenue par monsieur <em>vappereau</em> .<br>
        l’alliance inclusive imposée par la médecine à l’hystérie <small class="text-muted">– dont l’hypnose fut la mise en scène pseudo-scientifique et violatrice –</small> n’a pas empêché le sexuel inconscient de franchir la barrière du refoulement, 
        puis de susciter une nouvelle alliance <small class="text-muted">– la psychanalyse –</small> contre l’enfermement neuropsychiatrique et l’autoritarisme hypnotique.<br>
        l’alliance inclusive octroyée à la topologie par la psychanalyse a permis au nœud, de se soustraire à l’écrasement algébriste, de resurgir et de se venger en ravageant le linguistisme lacanien. 
        l’algébrisme étant une forme du refoulement sexuel, l’alliance a joué comme une levée du refoulement, et le retour du refoulé s’est effectué non pas dans la topologie, puisqu’elle était justement dessaisie du nœud, 
        mais dans la psychanalyse qui s’en emparait, le linguistisme étant un avatar de l’algébrisme.
        </p>
        <p>la vengeance du refoulé désigne implacablement l’ennemi du sexuel, et n’épargne pas qui lève la censure.
        <br>comme l’hypnotisme et la psychiatrie survivent à la psychanalyse 
        <small class="text-muted">– et même parviennent à l’annexer partiellement puisqu’elle a su se rendre conforme, acceptable et utile à l’ordre médical – </small>
        les théories des nœuds et le linguistisme antisexuels survivront à la plastique des nœuds rares. 
        il n’est pas certain que cette dernière puisse capituler comme son analogue précédente.</p>

    <h2>l’écriture de l’indicible</h2>
        <p>la plastique des nœuds rares ne cherche pas à théoriser les nœuds. 
        de même que la science n’est d’aucun recours face aux inquiétudes que suscite la répression antisexuelle et que la religion apaise, 
        la plastique des nœuds rares ne répond pas aux questions fallacieuses que se posent, en vain, les théoriciens des nœuds. 
        cette absence de communauté de but, de concurrence théorique donc, a une immédiate conséquence : 
        les plasticien&#183;ne&#183;s des nœuds rares ne descendent pas sur le terrain des théoricien&#183;ne&#183;s des nœuds, 
        n’emploient pas leur langage, ne s’intéressent pas à leurs travaux. 
        la plastique des nœuds rares ne peut pas être mise par ses praticien&#183;ne&#183;s en position de contradictrice : 
        jamais elle ne porte la contradiction, n’apporte son soutien, aux théories des nœuds. 
        la conduite des plasticien&#183;ne&#183;s est de ne pas troubler l’interminable piétinement des théoricien&#183;ne&#183;s, de les laisser en paix.<br> 
        la plastique est à l’occasion en concurrence d’audience avec les théories dans la mesure où les femmes et les hommes dont l’attention se trouve quelque peu attirée par les nœuds ne connaissent pas dès l’abord la nature de cette attirance, la teneur nœudienne de leur sexualité.
        - en se manifestant la plastique des nœuds rares offre la possibilité à la tendance nœudienne de se reconnaître, 
        de s’offrir quelque chance d’exister, de s’éparpiller sans égarement.
        </p>
        <p>étant donnée les conditions faites aujourd’hui à l’autosexualité, rares sont les femmes et les hommes en lesquel&#183;le&#183;s cette tendance subsiste, et plus encore celles et ceux qui ne profiteront pas de cette reconnaissance pour l’embourber définitivement. 
        depuis la publication du livre <cite>plastique des nœuds rares, paris 1992</cite> , le nombre de personnes qui, définitivement, savent qu’elles ne s’intéresseront pas à la plastique ne cesse de croître; le nombre de personnes susceptibles de s’y intéresser ne cesse de s’amenuiser.<br>
        la plastique ne sourira finalement qu’à des personnes qui ne se seront jamais intéressées aux théories, puisqu’il n’est pas possible de concilier la plastique des nœuds rares, qui ne parle que de nœuds et de métamorphoses visibles et vues, 
        effectivement tracées sur quelque support matériel à échelle humaine, et les théories des nœuds, qui traitent de concepts et d’opérations qu’elles illustrent à l’occasion. 
        pour celles-ci les nœuds dessinés sont des images, en ce bas-monde palpable, d’idéalités mathématiques munies de propriétés inintéressantes extraordinaires en des cieux inimagynables. 
        ces célestes objets ne sont que formes résiduelles du sexuel irréalisé des théologiennes qui ont pour fonction de voiler l’évidence sexuelle des nœuds, comme les islamistes ont pour tâche de voiler les visages des femmes.<br> 
        leurs théories, comme les rêves, s’élucubrent conformément à la censure antisexuelle et se complaisent dans l’abêtissante insatisfaction.
        </p>
        <p>
        si les caractères chinois comme les chiffres arabes sont des écritures lisibles et prononçables en n’importe quelle langue, les nœuds sont, en toutes langues, imprononçables. 
        personne ne reconnaît dans les dessins de nœuds les formes que chacune retrouve si facilement, comme <em>leonardo da vinci</em> en indiquait la trivialité, dans les nuages ou sur les vieux murs, parce que les nœuds ne ressemblent à rien, n’offrent aucune prise où accrocher spontanément des images convenables.<br> 
        ils laissent ainsi glisser le regard vers ce qui l’intéresse, vers ce qui suscite la curiosité, l’intelligence, le plaisir. il est alors tentant d’y voir des motifs sexuels. 
        c’est par leur insignifiance à faire penser à autre chose que les nœuds attirent et inquiètent.
        pour pouvoir ignorer cet attrait, il faut soit se détourner soit s’encorder à un lourd appareillage – comme <em>ulysse</em> en son mât s’homomifiant en <em>saint-sébastien</em> martyr. 
        la plastique des nœuds rares et des nuées nœudiennes est d’emblée une écriture de l’indicible obscénité de l’auto-hétérosexualité. 
        elle s’élabore, non pas comme le rêve qui travaille pour satisfaire la censure et laisser le besoin indéfiniment en souffrance, mais à la manière de la masturbation solitaire qui oeuvre en conscience pour le plaisir immédiat.
        </p>

    </div>
    <div class="col-sm-3">
        <div class= "mt-5">
        <app-animation2></app-animation2>
        <app-animation1></app-animation1>
        </div>
    </div>
    </div>