<h1 class=" fs-2 text-center border1">why knot<span class="badge bg-secondary mx-3 my-3">les nœuds rares</span></h1>
<div class="row align-items-start">
    <div class="col-sm-2">
        <nav class="nav flex-column nav-justified border1" style='background-color: rgb(226, 43, 186);'>
            <app-boutonknotpast class= 'nav-item mt-3 mb-3'></app-boutonknotpast>
            <app-boutonknotfutur class= 'nav-item  mb-3'></app-boutonknotfutur>
            <app-boutoninvitation class= 'nav-item  mb-3'></app-boutoninvitation>
            <app-boutonknotnow class= 'nav-item  mb-3'></app-boutonknotnow>
        </nav>
    </div>
    <div class="col-sm-7">
            <p class='lead'>ce site invite à la pratique du dessin des métamorphoses nœudiennes à partir de l’ouvrage 
            <cite  class="fw-bold fst-italic "> plastique des nœuds rares</cite> publié en 1992 à paris.</p>
            <p> c'est cette pratique qui est qualifiée de <span class="fst-italic">plastique nœudienne</span>.
            faisons un saut en arrière : lorsqu'on calculait avec des chiffres romains, les calculs devenaient vite
            impossibles, le zéro n'existait pas! <br>
            avec le chiffrage hindo-arabe l'univers des nombres a conquis le monde.
            rien n'est pensé sans le nombre, directement ou en arrière-plan.
            le vrai "mondialisme" a commencé avec cela et culmine dans la technologie, notamment informatique, et... la sociologie, c'est-à-dire le repérage numérique des populations.</p>
            <p>avec la pratique nœudienne il semble qu'un nouveau paradigme apparaisse.
            un signe de cette révolution conceptuelle est donné par la véritable <span class="fst-italic">frénésie</span>
            (le mot est faible!) qui s'est emparée des topologues et de l'écho plus ou moins amical qu'ils rencontrent au sein des autres pratiques scientifiques.
            mais... comme dans toute révolution il y a deux voies... au moins!
            et pas plus que les chiffres hindo-arabes n'ont effacé les chiffres romains qui ont trouvé refuge dans les
            pendules, la pratique nœudienne n'effacera la numérique.</p>

            <p>notre ambition est de diffuser un aperçu du livre 
            <cite class="fw-bold fst-italic ">plastique des nœuds rares</cite>
            et d’autres travaux qui ont suivi, afin de permettre à chacune et chacun de se lancer dans cette aventure
            et de s’initier à la nœudienne avec pour tout bagage un papier, un crayon et beaucoup de curiosité.
            les séquences sont agencées de façon à progresser simplement dans la complexité.</p>
            <p class=lead>
            le texte et les dessins fournissent au fur et à mesure les outils, le vocabulaire, une méthode et les illustrations nécessaires
            pour  <span class="fw-bold fst-italic">dessiner la nuée d’un nœud rare</span>.
            cet exposé systématique n'est pas linéaire; aussi bien les notions ici évoquées se croisent-elles entre
            elles...comme un nœud.</p>

    </div>
    <div class="col-sm-3 container-fluid text-center mt-3">
        <div class="border border-warning  border1 mt-3 px-3 py-3">
            <app-animation1></app-animation1>
        </div>
    </div>
</div>