div {
    text-align: justify;
  }
h1 {
  background-color: rgb(138, 25, 10);
  border-radius: 1em;
}
h2  {
  background-color: rgba(138, 25, 10, 0.527);
    color:white;
    text-align: center;
    font-size: large;
    border-radius: 1em;
    margin-top: 2em;
}
math {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

mark {
  color: blueviolet;
  font-weight: bold;
}
em {
  font-style: oblique;
  color:crimson
}
p {
  text-indent: -3em;
  margin-left: 6em;
  margin-right: 6em;
}
nav {
  border-radius: 1em;
  background-color: darkorchid;
}