<h1 class=" fs-2 text-center">whyknot<span class="badge bg-secondary mx-3 my-3">knot futur</span></h1>
<div class="row align-items-start">
    <div class="col-sm-2">
        <nav class="nav flex-column nav-justified border1" style='background-color: rgb(226, 43, 186);'>
            <app-boutonknotpast class= 'nav-item mt-3 mb-3'></app-boutonknotpast>
            <app-boutonknotfutur class= 'nav-item  mb-3'></app-boutonknotfutur>
            <app-boutoninvitation class= 'nav-item  mb-3'></app-boutoninvitation>
            <app-boutonknotnow class= 'nav-item  mb-3'></app-boutonknotnow>
        </nav>
    </div>
    <div class="col-sm-7">
            <h2 class="text-center">position de la plastique des nœuds rares</h2>
                <p class='lead'>
                il y a aujourd’hui deux manières d’aborder les nœuds. l’une, mathématicienne, désire les classifier et les énumérer, l’autre est la question des nœuds rares.
                </p>
                <p><b>a - l’existence de la théorie des nœuds est un petit mensonge universitaire jamais dénoncé.</b> 
                les tentatives de produire une table des nœuds, de manière univoque et ordonnée n’ont pas abouti; les questions générales qui, résolues, constitueraient la théorie, n’ont pas trouvé de réponses. 
                cela n’empêche pas la corporation de bricoler de petits théorèmes qui ne sont que des variations de celui-ci : tous les nœuds dont le nombre minimum de croisements est 3 sont composés d’un unique rond noué. 
                ainsi s’entretient l’illusion tenace d’une théorie racoleuse dont le petit bénéfice est le refoulement de l’échec et de sa cause, la négation du nouage 
                <br><small class="muted"> – l’irrépréhensibilité méprisante conférée à cette corporation se lit dans le maigre ouvrage <cite>nœuds, février 1999</cite>, de la fripouille mathématicienne russo-américaine <em>sossinsky</em> 
                qui vend la mèche avec impudence tranquille en avouant ingénument qu’il importe peu de ne pas résoudre, ce qui est important c’est de le faire pour l’art! 
                où se vérifie que le spectacle de la sexualité pornographique et sentimentaliste laisse peu à peu place à la sentimentalité pornographique du spectacle.</small> 
                <br>la problématique de la classification et de l’énumération est conforme au rôle zoocial de la mathématique contemporaine qui prête son prestige scientifique aux tentatives de surveillance et de contrôle zoociaux. 
                l’ordre logique, obligé de ne rien laisser échapper, algébrise, et l’on verra l’affolement s’ensuivre – 
                la vieille alliance magie-mathématique aura décidé de donner le plein d’elle-même à l’occasion de la consécration superstitieuse de l’an 2000 :
                l’unesco et les associations internationales de mathématiques ont déclaré cette année année mondiale des mathématiques.
                </p> 
                <p><b>e - les nœuds ne sont pas du nombre.</b> ils se dérobent à la rationalité algorithmique <small class="text-muted">- dont le statut théorique actuel n’est rien moins que définitif –</small>
                 et à l’aristocratie du savoir. 
                c’est d’une autre pensée que s’éploie la plastique des nœuds rares.
                </p>
                <p><b>i - l’une des conséquences de la réception de l’interdit de la masturbation et des théories sexuelles infantiles est l’inhibition du geste et du regard.</b> 
                cette inhibition, qui se manifeste dans la pratique artistique comme incompétence motrice, se manifeste dans la recherche comme renoncement à la liberté de penser. 
                ce qui retient la main, ce qui détourne le regard procède du refoulement des motions sexuelles. 
                chez l’enfant&#183;e la prise et la restitution sont d’autant plus effectives qu’elle ou il a peu reçu l’interdit et a esquivé la prison satisfaisante des théories infantiles. 
                par contre l’enfant&#183;e captif&#183;ve et médusé&#183;e s’interdit le dessin de nœud, et cette disparition coïncide avec la réalisation zoociale de l’interdit sexuel, 
                il ne lui reste de choix qu’entre se rigidifier dans la logique ou se réfugier dans le délire. 
                passé l’interdit, la plastique des nœuds rares retrouve le cheminement de la curiosité et de l’investigation infantile.
                </p>
                <p><b>o - à la question des nœuds rares se reconnaît celle de l’inconscient freudien.</b> 
                la plastique des nœuds rares détache la subjectivité de l’interprétation. 
                si une telle conception de l’interprétation freudienne n’a pas encore trouvé de réalisation avancée, 
                cela vient de cette circonstance, facilement compréhensible, que manquent aux psychanalystes ces connaissances et points de vue à l’aide desquelles la ou le plasticienne des nœuds rares peut aborder l’inconscient.
                </p>  
                <p><b>u - d’où la fausse position de la plastique des nœuds rares à mi-chemin entre la topologie et la psychanalyse</b>. 
                le topologue la tient pour un système spéculatif, peut-être un délire totémique; le psychanalyste, qui l’apprécie selon la norme des systèmes ingénieux qu’il s’est construit lui-même, lui reproche sa non rentabilité clinique et sa difficulté d’abord.
                </p>
                    <h2>présentation du texte plastique des nœuds rares</h2>
                    <p>notre texte n’est pas à mi-chemin entre la topologie et la psychanalyse. 
                    nous n’y traitons pas de psychanalyse. 
                    nous faisons de la topologie des nœuds dans le style des <cite>études préliminaires</cite> écrites par <em>listing</em> en 1847. 
                    nous raisonnons avec des dessins, sans recourir à un appareil algébrique. 
                    la lecture de notre texte ne nécessite pas plus de connaissance de ce qu’est la topologie aujourd’hui, que n’en exige la lecture de l’écrit de listing. 
                    les dessins font le propos, le texte est illisible sans eux. 
                    son vocabulaire se constitue au fur et à mesure, proche des traits et des motifs.
                    le récit se développe autour de la question des nœuds rares. ils sont définis en quelques mots, reste à les reconnaître et les construire. 
                    <br>cette visée oriente la recherche d’indicateurs et de transformations, et lui donne son unité. 
                    celle-ci prévaut sur ceux -là, qui ne sont pas étudiés pour eux-mêmes.
                    ce texte expose une investigation reconstruite, quelques résultats et les procédés qui permettent de les obtenir. 
                    il constitue une méthode d’apprentissage progressive, une familiarisation, où chaque élément se rencontre maintes fois, s’ébauche puis se précise, se détache et se lie diversement à d’autres. 
                    nous y exerçons la souplesse du regard et du geste, l’écriture avec les dessins imprononçables des nœuds.
                    <br><i>les nœuds rares demeurent une question</i>. l’investigation pourra être poursuivie par celles et ceux qui trouveront dans ce livre les moyens et les motifs de déployer cette jeune science qui se pratique comme un art : la plastique des nœuds rares.
                </p>   
            <h2>portées de la plastique des nœuds rares</h2>
                <p>si les hiéroglyphes ou les rêves renvoient à un au-delà propre, les nœuds ne renvoient à rien d’autre qu’à eux-mêmes.
                pour autant que sa jeunesse nous le permet, nous pouvons considérer la plastique dans ses relations et apports avec d’autres domaines de la recherche.
                la plastique des nœuds rares est une formation exceptionnelle à la perception de l’incohérence, à la logique de la forme et des formations, à la saisie des structures, à la fluidité des relations, à la reconnaissance des erreurs, au repérage des résistances, à l’intelligence.
                cette formation réalise un rapport pratique, structurel et optimal de gouvernabilité incontrôlable. 
                elle est une plastique, c’est-à-dire une formation de plusieurs structures, semblables ou dissemblables, qui s’influencent et se gouvernent mutuellement, sans prime de résultat.
                la plastique des nœuds rares est à l’inconscient freudien ce que la mathématique est à la physique.
                chaque couple est une plastique, et de l’une à l’autre il ne s’agit pas d’un parallèle mais d’un transfert. 
                le montrer résulte de la plastique des nœuds rares.
                ces affirmations sont explicitées en faisant usage du vocabulaire de la plastique des nœuds rares.
                 </p>
                <p><b>a - perception de l’incohérence</b> : dans un état d’un nœud, une lunule précieuse est consistante, tandis qu’une lunule non alternée est inconsistante. la lecture de la réductibilité a trait à la consistance, celle de la rareté à la cohérence.
                </p>
                <p><b>i - logique de la forme et des formations </b>: la torsade simple et la torsade double sont des formes de la boucle. 
                    cette formation est à son tour une forme de la broche. 
                    si une broche est une formation pour la boucle, elle ne l’est qu’en tant que forme inclusive. 
                un montage de motifs, donnant une lecture d’un état, est une formation.
            </p>
            <p> 
                <b>e - saisie des structures</b> : la non réductibilité des motifs n’implique pas celle de l’état non alterné qui s’en compose. 
                qu’une forme inconsistante assure l’inconsistance de la formation à laquelle elle participe n’implique pas qu’une forme consistante assure la consistance de la formation à laquelle elle participe. qu’un état ne soit composé que de nodules précieux ne suffit pas à en établir la rareté.
            </p>
            <p>    
                <b>ie - fluidité des relations</b> : la statique d’un montage de motifs soutient la plastique de l’état qui s’en lit. 
                par cette labilité on y acquiert l’habileté à l’incontrôlabilité qui est au principe de la contrôlabilité. 
                le principe d’incontrôlabilité est à la fois le quatrième et l’unité des principes d’incertitude, d’incomplétude, de déplaisir.
                la plastique, généralisée, des nuées nœudiennes s'appuiera sur une homologie de structure avec la courbure d’une part, 
                invariant absolu des nuées nœudiennes à même nombre de ronds, et la tournure, invariant relatif d’amas, 
                l’ornure, faisant issir l’état de l’ombre et le fixant comme métabole, c’est-à-dire représentant de sa nuée dans le réseau des bifurcations des métaboles à même ombre, et donc même parure, et la parure, tournure ornée d’un état.
            </p>
            <p>
                <b>au - reconnaissance des erreurs</b> : les critères de la plastique des nœuds rares ne sont pas des critères d’identification à rebours.
                deux amas différents peuvent avoir une tournure identique. 
                une erreur de métamorphose d’un état en l’autre, se révèle par une variation erronée de la tournure.
                </p>
                <p>
                <b>ao - repérage des résistances</b> : la faible part du calculable dans la plastique laisse le champ largement ouvert aux résistances et à leurs manifestations. 
                de l'abondance des tours qui loupent à celle des états rares d’un nœud non rare se déploie la palette des figures de la résistance, de l'errance et de la représentation.
            </p>
            <p>
                <b>ae - intelligence</b> : les nœuds sont la matière d’une expérience de pensée qui offre ses esquisses à l’intelligence des conflits, suit ses lignes sans se répandre à imagyner quelque occulte ou projeter ses préjugés entre elles. l’art de dénouer est celui du nouage, du serrage et du desserrage, du glissement et du basculement, des bouleversements, des surprises et de leurs transmissions.
                </p>
            <p class='lead'>    
                le vide reste le vide, le trait le rond, le nœud le dessin.
            </p>

</div>
<div class="col-sm-3 container-fluid text-center mb-3 mt-3">
        
    <app-animation3></app-animation3>
    <app-animation2></app-animation2>
    <app-animation1></app-animation1>
</div>
</div>